@model IEnumerable<YOGBIS.Common.VModels.UlkelerVM>
@{
    ViewData["Title"] = "Ülkeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .block {
        position: fixed;
        z-index: 2;
        right: 15px;
        top: 95px;
    }
</style>

<ol class="breadcrumb mb-4 mt-2">
    <li>
        <a asp-controller="Ulkeler" asp-action="UlkeEkle" class="btn btn-success btn-circle btn-sm w-100" title="Yeni Kayıt">
            Yeni Kayıt <i class="fas fa-plus-circle"></i>
        </a>
    </li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Ülkeler</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Bayrak</th>
                        <th>Ülke</th>
                        <th>Kıta</th>
                        <th>Ülke Bilgisi</th>
                        <th>Kaydeden</th>
                        <th class="text-center">Düzenle</th>
                        <th class="text-center">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}

                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                <td></td>
                                @*<td style="width:120px;height:50px;"><img id="ulkeBayrak" class="rounded mx-auto d-block shadow" alt="Ülke Bayrağı" style="width:120px;height:50px;" src="~/img/@item.UlkeBayrakText" asp-append-version="true"></td>*@
                                <td>@item.UlkeAdi</td>
                                <td>@item.KitaAdi</td>
                                <td>@item.UlkeAciklama</td>
                                <td>@item.KullaniciAdi</td>
                                <td class="text-center">
                                    <a class="btn btn-sm btn-info" title="Düzenle" asp-controller="Ulkeler" asp-action="Guncelle" asp-route-id="@item.UlkeId">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-sm btn-danger btnSil" title="Sil" id="btnSil" data-id="@item.UlkeId">
                                        <i class="fas fa-trash text-white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Kayıt bulunamadı!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

            $(function () {
                $("#myTable").on("click", ".btnSil", function () {
                    var btn = $(this);
                    bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                        if (result) {
                            var id = btn.data("id");
                            $.ajax({
                                type: "DELETE",
                                url: "/Ulkeler/UlkeSil/" + id,
                                success: function () {
                                    btn.parent().parent().remove();
                                    location.reload();
                                }
                            });
                        }
                    });
                });
            });
    </script>
}



