@model IEnumerable<YOGBIS.Common.VModels.MulakatlarVM>



<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Mulakatlar</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Onay No</th>
                        <th>Mulakat Dönemi</th>
                        <th>Derece</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                <td><a asp-controller="Mulakatlar" asp-action="Guncelle" asp-route-id="@item.MulakatId" id="MulakatOnayNo">@item.OnaySayisi</a></td>
                                <td>@item.MulakatDonemi</td>
                                <td>@item.DereceAdi</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





