
@{
    ViewData["Title"] = "SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center m-4"><i class="text-info">Sıkça Sorulan Sorular</i></h1>
<ol class="breadcrumb mb-4 mt-2">
    <li>
        <a asp-controller="SSS" asp-action="SSSEkle" class="btn btn-success btn-circle btn-sm w-100" title="Yeni Kayıt">
            Yeni Soru Ekle <i class="fas fa-plus-circle"></i>
        </a>
    </li>
</ol>
<div class="row m-3">
    <input class="col-md-12 form-control form-control-user" type="text" placeholder="Sıkça Sorulan Sorular' da ara..."/> 
</div>

<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="text-dark">
                    <img class="icon-circle rounded-circle float-left" src="~/img/KullaniciGaleri/profileWoman.png" alt="Kullanıcı Profil Fotoğrafı" style="max-height: 50px; max-width: 50px; width:25px;height:25px;">
                    &nbsp;Semra BEYAZIT <span class="small">@DateTime.Now tarihinde sordu:</span>
                    <span class="text-primary">Almanca yabancı diline hakimim ancak Almanca Dil Belgem yok, yine de sınava başvurabilir miyim?</span>
                </a>
            </h6>
        </div>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
                <img class="icon-circle rounded-circle float-left" src="~/img/KullaniciGaleri/profileMan.png" alt="Kullanıcı Profil Fotoğrafı" style="max-height: 50px; max-width: 50px; width:25px;height:25px;">
                &nbsp;<span class="font-weight-bold">Şener DUMAN @DateTime.Now tarihinde cevapladı: </span>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                    put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                    wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="text-dark">
                    <img class="icon-circle rounded-circle float-left" src="~/img/KullaniciGaleri/profileWoman.png" alt="Kullanıcı Profil Fotoğrafı" style="max-height: 50px; max-width: 50px; width:25px;height:25px;">
                    &nbsp;Sümeyra ÇIRAK <span class="small">@DateTime.Now tarihinde sordu: </span>
                    <span class="text-primary">Pasaportum hazırlanana kadar görevli izinli sayılır mıyım?</span>
</a>
            </h6>
        </div>

        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-body">
                <img class="icon-circle rounded-circle float-left" src="~/img/KullaniciGaleri/profileMan.png" alt="Kullanıcı Profil Fotoğrafı" style="max-height: 50px; max-width: 50px; width:25px;height:25px;">
                &nbsp;<span class="font-weight-bold">İsmet ÇÖRDÜK @DateTime.Now tarihinde cevapladı: </span>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                    put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                    wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h6 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="text-dark">
                    <img class="icon-circle rounded-circle float-left" src="~/img/KullaniciGaleri/profileMan.png" alt="Kullanıcı Profil Fotoğrafı" style="max-height: 50px; max-width: 50px; width:25px;height:25px;">
                    &nbsp;Mustafa KOYUNCU <span class="small">@DateTime.Now tarihinde sordu: </span>
                    <span class="text-primary">Görevlendirmem yapıldığı zaman görevimden vazgeçersem idari bir ceza alır mıyım?</span>
</a>
            </h6>
        </div>

        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body">
                <img class="icon-circle rounded-circle float-left" src="~/img/KullaniciGaleri/profileMan.png" alt="Kullanıcı Profil Fotoğrafı" style="max-height: 50px; max-width: 50px; width:25px;height:25px;">
                &nbsp;<span class="font-weight-bold">Ali KURT @DateTime.Now tarihinde cevapladı: </span>
                <p class="text-justify">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                    put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                    wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>
    </div>
</div>