@using Microsoft.AspNetCore.Identity
@inject SignInManager<YOGBIS.Data.DbModels.Kullanici> SignInManager
@inject UserManager<YOGBIS.Data.DbModels.Kullanici> UserManager
@model IEnumerable<YOGBIS.Common.VModels.EtkinliklerVM>
@{
    ViewData["Title"] = "Etkinlik Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .block {
        position: fixed;
        z-index: 2;
        right: 15px;
        top: 95px;
    }
</style>
<ol class="breadcrumb mb-4 mt-2">
    <li class="ml-2 mr-2">
        @Html.DropDownList("OkulListesi", new SelectList(ViewBag.OkulAdi, "OkulId", "OkulAdi"), "Okulu Seçiniz", new { @class = "form-control-range form-control py-1 w-100" })
    </li>
    <li class="m-2">
        <a asp-controller="Etkinlik" asp-action="Etkinlikler"><i class="fas fa-sync-alt text-success" title="Sayfayı yenile"></i></a>
    </li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Etkinlik Bilgileri</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" style="width:100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Okul Adı</th>
                        <th>Etkinlik Adı</th>
                        <th>Başlama Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>Sorumlu Öğretmen</th>
                        <th>Katılımcı Sayısı</th>
                        <th>Etkinlik Hakkında</th>
                        <th>Gözat</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                <td>@item.OkulAdi</td>
                                <td>@item.EtkinlikAdi</td>
                                <td>@item.BasTarihi.ToString("dd/MM/yyyy")</td>
                                <td>@item.BitTarihi.ToString("dd/MM/yyyy")</td>
                                <td>@item.DuzenleyenAdiSoyadi</td>
                                <td>@item.KatilimciSayisi</td>
                                <td>@item.EtkinlikBilgi</td>
                                @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                                {
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-info" title="Detay" asp-controller="Etkinlik" asp-action="Detay" asp-route-id="@item.EtkinlikId">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-info" title="Düzenle" asp-controller="Etkinlik" asp-action="Guncelle" asp-route-id="@item.EtkinlikId">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-danger btnSil" title="Sil" id="btnSil" data-id="@item.EtkinlikId">
                                            <i class="fas fa-trash text-white"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Kayıt bulunamadı!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $("#OkulListesi").on("change", function () {

            var Id = $("#OkulListesi").val();

            $.ajax({
                type: "DELETE",
                url: "/Etkinlik/EtkinlikGetirOkulId/" + Id,
                success: function (data) {
                    if (data.isSucces) {
                        window.location.href = "?okulId=" + Id;
                    } else {
                        alert("Bir hatayla karşılaşıldı !");
                    }
                }
            });

        });

    </script>
}



