@using Microsoft.AspNetCore.Identity
@inject SignInManager<YOGBIS.Data.DbModels.Kullanici> SignInManager
@inject UserManager<YOGBIS.Data.DbModels.Kullanici> UserManager
@model IEnumerable<YOGBIS.Common.VModels.EtkinliklerVM>
@{
    ViewData["Title"] = "Etkinlikler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-2">
    @if (User.IsInRole("Representative") || User.IsInRole("SubManager") || User.IsInRole("Lecturer") || User.IsInRole("Teacher"))
    {
        <li>
            <a asp-controller="Etkinlik" asp-action="EtkinlikEkle" class="btn btn-success btn-circle btn-sm w-100" title="Yeni Kayıt">
                Yeni Kayıt <i class="fas fa-plus-circle"></i>
            </a>
        </li>
    }
    else if (User.IsInRole("Administrator") || User.IsInRole("Manager") || User.IsInRole("Follower"))
    {
        <li class="ml-2 mr-2">
            @Html.DropDownList("UlkeListesi", new SelectList(ViewBag.UlkeAdi, "UlkeId", "UlkeAdi"), "Ülkeyi Seç",
           new { @id = "UlkeListesi", @class = "form-control-range form-control py-1 w-100" })
        </li>
        <li class="ml-2 mr-2">
            @Html.DropDownList("OkulListesi", new SelectList(ViewBag.OkulAdi, "OkulId", "OkulAdi"), "Okulu Seç",
           new { @id = "OkulListesi", @class = "form-control-range form-control py-1 w-100" })
        </li>
        <li class="m-2">
            <a asp-controller="Etkinlik" asp-action="Index"><i class="fas fa-sync-alt text-success" title="Sayfayı yenile"></i></a>
        </li>
    }
    else
    {

    }
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Etkinlik Bilgileri</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" style="width:100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                        {
                            <th>Ülke</th>
                            <th>Temsilcilik</th>
                        }
                        <th>Okul Adı</th>
                        <th>Etkinlik Adı</th>
                        <th>Başlama Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>Sorumlu</th>
                        <th>Hedef Kitle</th>
                        <th>Katılımcı Sayısı</th>
                        <th>Etkinlik Hakkında</th>
                        <th>Çıktı ve Sonuç</th>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                        {
                            <th class="text-center">Detay</th>
                        }
                        else
                        {
                            <th class="text-center">Düzenle</th>
                            <th class="text-center">Sil</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                                {
                                    <td>@item.UlkeAdi</td>
                                    <td>@item.TemsilcilikAdi</td>

                                }
                                <td>@item.OkulAdi</td>
                                <td>@item.EtkinlikAdi</td>
                                <td>@item.BasTarihi.ToString("dd/MM/yyyy")</td>
                                <td>@item.BitTarihi.ToString("dd/MM/yyyy")</td>
                                <td>@item.DuzenleyenAdiSoyadi</td>
                                <td>@item.HedefKitle</td>
                                <td>@item.KatilimciSayisi</td>
                                <td>@item.EtkinlikBilgi</td>
                                <td>@item.Sonuc</td>
                                @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                                {
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-info" title="Detay" asp-controller="Etkinlik" asp-action="Detay" asp-route-id="@item.EtkinlikId">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-info" title="Düzenle" asp-controller="Etkinlik" asp-action="Guncelle" asp-route-id="@item.EtkinlikId">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-danger btnSil" title="Sil" id="btnSil" data-id="@item.EtkinlikId">
                                            <i class="fas fa-trash text-white"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Kayıt bulunamadı!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            $("#myTable").on("click", ".btnSil", function () {
                var btn = $(this);
                bootbox.confirm({
                    message: "Seçilen etkinliği silmek istiyor musunuz?",
                    buttons: {
                        confirm: {
                            label: 'Evet',
                            className:'btn-success'
                        },
                        cancel: {
                            label: 'Hayır',
                            className:'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var id = btn.data("id");
                            $.ajax({
                                type: "DELETE",
                                url: "/Etkinlik/EtkinlikSil/" + id,
                                success: function () {
                                    btn.parent().parent().remove();
                                    location.reload();
                                }
                            });
                        }
                    }
                });
            });
        });

        $(document).ready(function () {

            $("#UlkeListesi").on("change", function () {

                var Id = $("#UlkeListesi").val();
      
                $("#OkulListesi").empty();

                $("#OkulListesi").append("<option value=''> Okul adını seçiniz </option>");

                $("#OkulListesi").append("<option value='0'> Tümünü seç </option>");

                var url = '@Url.Action("OkulAdGetirUlkeId", "OkulBilgi")?ulkeId=' + Id;

                $.getJSON(url, function (data) {

                    $.each(data, function (i=0,okulId,okulAdi) {

                        /*alert(data);*/
                        $('#OkulListesi').append($('<option>', {
                            value: data[i]['okulId'],
                            text: data[i]['okulAdi']
                        }));

                    });
                });

                @*location.href = '@Url.Action("OkulBilgileriGetir", "OkulBilgi")?ulkeId=' + Id;*@

            });

            $("#OkulListesi").on("change", function () {

                var ulkeId = $("#UlkeListesi").val();
                var okulId = $("#OkulListesi").val();

                if (okulId == 0) {
                    location.href = '@Url.Action("EtkinlikGetirUlkeId", "Etkinlik")?ulkeId=' + ulkeId;
                }
                else {
                    location.href = '@Url.Action("EtkinlikGetirOkulId", "Etkinlik")?okulId=' + okulId;
                }

            });

        });

    </script>
}



