@model List<YOGBIS.Common.VModels.AdayBasvuruBilgileriVM>

<style>
    .tc-column { width: 100px; }
    .askerlik-column { width: 80px; }
    .kurum-column { width: 150px; }
    .ogrenim-column { width: 120px; }
    .mezuniyet-column { width: 120px; }
    .hizmet-column { width: 80px; }
    .derece-column { width: 80px; }
    .yillik-column { width: 80px; }
    .ydgorev-column { width: 100px; }
    .dil-column { width: 200px; }
    .il-tercihi-column { width: 200px; }
    .basvuru-column { width: 100px; }
    .onay-column { width: 120px; }
    .myys-column { width: 120px; }
    .ilmem-column { width: 120px; }
    .referans-column { width: 150px; }
    .sendika-column { width: 150px; }
    .gorev-iptal-column { width: 200px; }
    .durum-column { width: 80px; }
</style>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Aday Başvuru Bilgileri-Mesleki Yeterlilik Yazılı Sınavı Bilgileri</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTableE" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center align-text-top">Mülakat Yılı</th>
                        <th class="text-center align-text-top">Ülke Tercihi</th>
                        <th class="text-center align-text-top">Başvuru Branş</th>
                        <th class="text-center align-text-top">Derece</th>
                        <th class="text-center align-text-top">Ünvan</th>
                        <th class="text-center align-text-top">MYYS Puan</th>
                        <th class="text-center align-text-top">MYYS Sonuç</th>
                        <th class="text-center align-text-top">MYSS Durum</th>
                        <th class="text-center align-text-top">MYSS Durum Açk.</th>
                        <th class="text-center align-text-top">Referans</th>
                        <th class="text-center align-text-top">Sendika</th>
                        <th class="text-center align-text-top">EDurum</th>
                        <th class="text-center align-text-top">MDurum</th>
                        <th class="text-center align-text-top">PDurum</th>
                        <th class="text-center align-text-top">İL MEM Görüş</th>
                        <th class="text-center align-text-top">Adli Sicil</th>
                        <th class="text-center align-text-top">Askerlik</th>
                        <th class="text-center align-text-top">Kurum Adı</th>
                        <th class="text-center align-text-top">Öğrenim</th>                       
                        <th class="text-center align-text-top">Mezuniyet</th>
                        <th class="text-center align-text-top">Hizmet</th>
                        <th class="text-center align-text-top">Derece/Kademe</th>
                        <th class="text-center align-text-top">Yurt Dışı Görev</th>
                        <th class="text-center align-text-top">Yurt İçi Başlama Tar.</th>
                        <th class="text-center align-text-top">Başvuru Yabancı Dil Bilgileri</th>
                        <th class="text-center align-text-top">ALM/ING/FRS/Diğer</th>
                        <th class="text-center align-text-top">İl Tercihleri</th>
                        <th class="text-center align-text-top">Başvuru Tarihi</th>
                        <th class="text-center align-text-top">Son Değişiklik Tar.</th>
                        <th class="text-center align-text-top">Başvuru Onay</th>
                        <th class="text-center align-text-top">Onay Açk.</th>
                        <th class="text-center align-text-top">MYYS Sınav Ted.</th>                                            
                        <th class="text-center align-text-top">Görev İptal</th>                        
                        <th class="text-center align-text-top">İlk Görev Kaydı</th>                        
                        <th class="text-center align-text-top">Görevden Uzaklaştırma</th>
                        <th class="text-center align-text-top">Soru İtiraz</th>                        
                        <th class="text-center align-text-top">Sonuç İtiraz</th>                        
                                              
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model.Where(x => x.MulakatId.HasValue))
                        {
                            <tr class="@(item.OnayDurumu == "İptal Edildi" ? "bg-warning" : "")">
                                <td class="tc-column">@item.MulakatYil</td>
                                <td class="askerlik-column">@item.UlkeTercihAdi</td>
                                <td class="kurum-column">@item.BasvuruBrans</td>
                                <td class="ogrenim-column">@item.DereceAdi</td>
                                <td class="mezuniyet-column">@item.Unvan</td>
                                <td class="durum-column">@item.MYYSPuan</td>
                                <td class="durum-column">@item.MYYSSonuc</td>
                                <td class="durum-column">@item.MYSSDurum</td>
                                <td class="durum-column">@item.MYSSDurumAck</td>                                
                                @{
                                    var referanslar = new List<string>();
                                    if (!string.IsNullOrEmpty(item.Referans)) referanslar.Add(item.Referans);
                                    if (!string.IsNullOrEmpty(item.ReferansAck)) referanslar.Add(item.ReferansAck);
                                }
                                <td class="referans-column">@string.Join("/", referanslar)</td>                                
                                @{
                                    var sendikalar = new List<string>();
                                    if (!string.IsNullOrEmpty(item.Sendika)) sendikalar.Add(item.Sendika);
                                    if (!string.IsNullOrEmpty(item.SendikaAck)) sendikalar.Add(item.SendikaAck);
                                }
                                <td class="sendika-column">@string.Join("/", sendikalar)</td>                               
                                <td class="durum-column">@item.EDurum</td>
                                <td class="durum-column">@item.MDurum</td>
                                <td class="durum-column">@item.PDurum</td>
                                <td class="durum-column">@item.IlMemGorus</td>
                                @if (item.AdliSicilBelge != null && item.AdliSicilBelge.Length > 0)
                                {
                                    <td class="bg-danger">
                                        <button class="btn btn-sm btn-light" onclick="showAdliSicil('@item.Id')">Göster</button>
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td class="hizmet-column">@item.Askerlik</td>
                                <td class="derece-column">@item.KurumAdi</td>
                                <td class="yillik-column">@item.Ogrenim</td>
                                <td class="ydgorev-column">@item.Mezuniyet</td>
                                @{
                                    var hizmet = new List<string>();
                                    if (!string.IsNullOrEmpty(item.HizmetYil)) hizmet.Add(item.HizmetYil);
                                    if (!string.IsNullOrEmpty(item.HizmetAy)) hizmet.Add(item.HizmetAy);
                                    if (!string.IsNullOrEmpty(item.HizmetGun)) hizmet.Add(item.HizmetGun);
                                }
                                <td class="dil-column">@string.Join("/", hizmet)</td>
                                @{
                                    var dereceKademe = new List<string>();
                                    if (!string.IsNullOrEmpty(item.Derece)) dereceKademe.Add(item.Derece);
                                    if (!string.IsNullOrEmpty(item.Kademe)) dereceKademe.Add(item.Kademe);
                                }
                                <td class="il-tercihi-column">@string.Join("/", dereceKademe)</td>
                                <td class="basvuru-column">@item.DahaOnceYDGorev</td>
                                <td class="onay-column">@item.YIciGorevBasTar</td>
                                @if(!string.IsNullOrEmpty(item.YabanciDilAdi)){
                                    <td class="myys-column">@($"{item.YabanciDilBasvuru}/{item.YabanciDilAdi}/{item.YabanciDilTuru}/{item.YabanciDilTarihi}/{item.YabanciDilPuan}/{item.YabanciDilSeviye}")</td>
                                }
                                else{
                                    <td class="myys-column">@($"{item.YabanciDilBasvuru}")</td>
                                }
                                @{
                                    var diller = new List<string>();
                                    if (!string.IsNullOrEmpty(item.YabanciDilALM)) diller.Add(item.YabanciDilALM);
                                    if (!string.IsNullOrEmpty(item.YabanciDilING)) diller.Add(item.YabanciDilING);
                                    if (!string.IsNullOrEmpty(item.YabanciDilFRS)) diller.Add(item.YabanciDilFRS);
                                    if (!string.IsNullOrEmpty(item.YabanciDilDiger)) diller.Add(item.YabanciDilDiger);
                                }
                                <td class="myys-column">@string.Join("/", diller)</td>
                                <td class="ilmem-column">
                                    @item.IlTercihi1
                                    @if (!string.IsNullOrEmpty(item.IlTercihi2)) { <span>, @item.IlTercihi2</span> }
                                    @if (!string.IsNullOrEmpty(item.IlTercihi3)) { <span>, @item.IlTercihi3</span> }
                                    @if (!string.IsNullOrEmpty(item.IlTercihi4)) { <span>, @item.IlTercihi4</span> }
                                    @if (!string.IsNullOrEmpty(item.IlTercihi5)) { <span>, @item.IlTercihi5</span> }
                                </td>
                                <td class="referans-column">@item.BasvuruTarihi</td>
                                <td class="sendika-column">@item.SonDegisiklikTarihi</td>
                                <td class="gorev-iptal-column">@item.OnayDurumu</td>
                                <td class="gorev-iptal-column">@item.OnayDurumuAck</td>
                                @if (!string.IsNullOrEmpty(item.MYYSSinavTedbiri) && !string.IsNullOrEmpty(item.MYYSTedbirAck))
                                {
                                    <td class="durum-column">@($"{item.MYYSSinavTedbiri}/{item.MYYSTedbirAck}")</td>
                                }
                                else{
                                    <td class="durum-column"></td>
                                }
                                @{
                                    var gorevIptaller = new List<string>();
                                    if (!string.IsNullOrEmpty(item.GorevIptalAck)) gorevIptaller.Add(item.GorevIptalAck);
                                    if (!string.IsNullOrEmpty(item.GorevIptalBrans)) gorevIptaller.Add(item.GorevIptalBrans);
                                    if (!string.IsNullOrEmpty(item.GorevIptalYil)) gorevIptaller.Add(item.GorevIptalYil);
                                    if (!string.IsNullOrEmpty(item.GorevIptalBAOK)) gorevIptaller.Add(item.GorevIptalBAOK);
                                }
                                <td class="gorev-iptal-column">@string.Join("/", gorevIptaller)</td>
                                <td class="durum-column">@item.IlkGorevKaydi</td>
                                <td class="durum-column">@item.GorevdenUzaklastirma</td>
                                <td class="durum-column">@item.MYYSSoruItiraz</td>
                                <td class="durum-column">@item.MYYSSonucItiraz</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="37" class="text-center" style="padding: 20px;">
                                <i class="fas fa-info-circle text-info mr-2"></i>
                                Herhangi bir kayıt bulunamadı!
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function showAdliSicil(id) {
            $.get('/AdayTanimlama/GetAdliSicilBelge/' + id, function (result) {
                if (result && result.isSuccess) {
                    var pdfWindow = window.open();
                    pdfWindow.document.write("<iframe width='100%' height='100%' src='data:application/pdf;base64, " + result.data + "'></iframe>");
                } else {
                    bootbox.alert("Belge gösterilirken bir hata oluştu!");
                }
            });
        }
    </script>
}
