@model IEnumerable<YOGBIS.Common.VModels.AdayBasvuruBilgileriVM>



<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Aday Başvuru Bilgileri</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTableE" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Mülakat Yılı</th>
                        <th>TC</th>
                        <th>Başvuru Branş</th>
                        <th>Askerlik</th>
                        <th>Kurum Kod</th>
                        <th>Kurum Adı</th>
                        <th>Öğrenim</th>
                        <th>Mezuniyet Kod</th>
                        <th>Mezun Olduğu Kurum</th>
                        <th>Hizmet Yıl/Ay/Gün</th>
                        <th>Derece/Kademe</th>
                        <th>Yurt Dışı Görev</th>
                        <th>Yurt İçi Gör. Baş. Tar.</th>
                        <th>Başvuru Yabancı Dil Bilgileri</th>
                        <th>Başvuru İl Tercihleri</th>
                        <th>Başvuru Tarihi</th>
                        <th>Başvuru Değ. Tar.</th>
                        <th>Başvuru Onay</th>
                        <th>Onay Açıklama</th>
                        <th>MYYS Sınav Ted.</th>
                        <th>MYYS Puan</th>
                        <th>MYYS Sonuç</th>
                        <th>İlk Görev Kaydı</th>
                        <th>Görevden Uzaklaştırma</th>
                        <th>Görev İptal Bilgileri</th>
                        <th>Yabancı Dil Bilgi</th>                       
                        <th>Adli Sicil Kaydı</th>
                        <th>Soru İtiraz</th>
                        <th>Sonuç İtiraz</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var sirano = 0;
                    }
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                <td>@item.MulakatYil</td>
                                <td>@item.TC</td>
                                <td>@item.BasvuruBrans</td>
                                <td>@item.Askerlik</td>
                                <td>@item.KurumKod</td>
                                <td>@item.KurumAdi</td>
                                <td>@item.Ogrenim</td>
                                <td>@item.MezunOkulKodu</td>
                                <td>@item.Mezuniyet</td>
                                <td>@item.HizmetYil / @item.HizmetAy / @item.HizmetGun</td>
                                <td>@item.Derece / @item.Kademe</td>
                                <td>@item.DahaOnceYDGorev</td>
                                <td>@item.YIciGorevBasTar</td>
                                <td>@item.YabanciDilBasvuru / @item.YabanciDilAdi / @item.YabanciDilTuru / @item.YabanciDilTarihi / @item.YabanciDilPuan / @item.YabanciDilSeviye</td>
                                <td>@item.IlTercihi1 / @item.IlTercihi2 / @item.IlTercihi3 / @item.IlTercihi4 / @item.IlTercihi5</td>
                                <td>@item.BasvuruTarihi</td>
                                <td>@item.SonDegisiklikTarihi</td>
                                <td>@item.SonDegisiklikTarihi</td>
                                <td>@item.OnayDurumu</td>
                                <td>@item.OnayDurumuAck</td>
                                <td>@item.MYYSinavTedbiri</td>
                                <td>@item.MYYSPuan</td>
                                <td>@item.MYYSonuc</td>
                                <td>@item.IlkGorevKaydi</td>                                
                                <td>@item.GorevdenUzaklastirma</td>
                                <td>@item.GorevIptalAck / @item.GorevIptalBrans / @item.GorevIptalYil / @item.GorevIptalBAOK</td>
                                <td>@item.YabanciDilALM / @item.YabanciDilING / @item.YabanciDilFRS / @item.YabanciDilDiger</td>
                                <td>@item.AdliSicilBelge</td>
                                <td>@item.MYYSSoruItiraz</td>
                                <td>@item.MYYSSonucItiraz</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
