@model List<YOGBIS.Common.VModels.SoruKategorilerVM>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Soru Kategorileri</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Kategori Adı</th>
                        <th>Takma İsim</th>
                        <th>Sınav Kategori Adı</th>
                        <th>Derece</th>
                        <th>Kategori Kullanımı</th>
                        <th>Puan</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@item.SoruKategorilerSiraNo</td>
                                <td class="text-left">
                                    <a class="font-weight-bold" asp-controller="SoruKategorileri" asp-action="Guncelle" asp-route-id="@item.SoruKategorilerId" id="SoruKategoriler" title="Değişiklik yapmak için seçiniz">
                                        @item.SoruKategorilerAdi
                                    </a>
                                </td>
                                <td>@item.SoruKategorilerTakmaAdi</td>
                                <td>@item.SinavKategoriTurAdi</td>
                                <td>@item.DereceAdi</td>
                                <td>@item.SoruKategorilerKullanimi</td>
                                <td>@item.SoruKategorilerPuan</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
