
@model IEnumerable<YOGBIS.Common.VModels.SiniflarVM>



<div class="table-responsive">
    <table class="table table-bordered table-sm table-hover table-striped display responsive nowrap" id="okulSinifTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Sıra No</th>
                <th>Sınıf Adı</th>
                <th>Açılış Tarihi</th>
                <th class="text-center">Değiştir</th>
                <th class="text-center">Sil</th>
            </tr>
        </thead>
        <tbody>
            @{ var sirano = 0;}
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    sirano++;
            <tr>
                <td>@sirano</td>
                <td>@item.SinifAdi</td>
                <td>@item.SinifAcilisTarihi.ToString("dd/MM/yyyy")</td>
                <td class="text-center">                    
                    <a class="btn btn-sm btn-info btnSinifDegistir" title="degistir" id="@item.SinifId" data-id="@item.SinifId">
                        <i class="fas fa-edit text-white"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-sm btn-danger btnSinifSil" title="Sil" id="@item.SinifId" data-id="@item.SinifId">
                        <i class="fas fa-trash text-white"></i>
                    </a>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>




