@using YOGBIS.Common.VModels
@model List<YOGBIS.Common.VModels.KullaniciYetkilerVM>
@using YOGBIS.Common.Extentsion
@using YOGBIS.Common.ConstantsModels
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="card mt-2 mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Kullanıcı Yetki Yönetimi</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" style="width:100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Kullanıcı Adı</th>
                        <th>Kullanıcı Soyadı</th>
                        <th>E-Posta</th>
                        <th>Yetkileri</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        @if (user.UserName != "Administrator")
                        {
                            <tr>
                                <td class="text-capitalize">@user.Ad</td>
                                <td>@user.Soyad</td>
                                <td>@user.Email</td>
                                @* <td>@string.Join(" , ", user.EnumsKullaniciRolleri.ToList())</td> *@
                                <td>
                                    @string.Join(" , ", user.EnumsKullaniciRolleri
                                             .Select(role => ((EnumsKullaniciRolleri)Enum.Parse(typeof(EnumsKullaniciRolleri), role.ToString())).GetDisplayName())
                                             .ToList())
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" asp-controller="KullaniciYetkileri" asp-action="Yonetim" asp-route-userId="@user.Id">Yetki Yönetimi</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>

