@model IEnumerable<YOGBIS.Common.VModels.AdaylarVM>



<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTableNoButtons" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">SN</th>
                        <th class="text-center">T.C. Kimlik No</th>
                        <th class="text-center">ADI</th>
                        <th class="text-center">SOYADI</th>
                        <th class="text-center">ÜNVANI</th>               
                        <th class="text-center">SINAV SAATİ</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var sirano = 0;
                    }
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                <!--<td><a asp-controller="Adaylar" asp-action="Guncelle" asp-route-id="@item.AdayId" id="AdayTC">@item.TC</a></td>-->
                                <td>@item.TC</td>
                                <td>@item.Ad</td>
                                <td>@item.Soyad</td>
@*                                 <td>@item.DereceAdi</td>
                                <td>@item.MYSSSaat</td> *@
                                <td class="text-center">
                                    <a class="btn btn-sm btn-secondary btnCagri text-white" title="Adayı Çağır" id="btnCagri" data-id="@item.AdayId" style="background-color: darkorange;font-weight:bold;font-size:13px;width:120px">Bekleme Odası</a>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-sm btn-secondary btnSinavaAl text-white" title="Adayı Sınava Al" id="btnSinavAl" data-id="@item.AdayId" style="background-color: darkgreen;font-weight:bold;font-size:13px;width:120px">Sınav Odası</a>
                                </td>                                
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




