@model IEnumerable<YOGBIS.Common.VModels.KomisyonlarVM>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Komisyonlar</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">SN</th>
                        <th class="text-center">Komisyon Sıra No</th>
                        <th class="text-center">Komisyon Adı</th>
                        <th class="text-center">Üye Sıra No</th>
                        <th class="text-center">Görevi</th>
                        <th class="text-center">Ad Soyad</th>                        
                        <th class="text-center">Durumu</th>
                        <th class="text-center">Görevde</th>
                        <th class="text-center">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var sirano = 0;
                    }
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                <td>@item.KomisyonSiraNo</td>
                                <td>@item.KomisyonAdi</td>
                                <td>@item.KomisyonUyeSiraNo</td>
                                <td>@item.KomisyonUyeGorevi</td>
                                <td>
                                    <a asp-controller="Komisyonlar" asp-action="Guncelle" asp-route-id="@item.KomisyonId" asp-route-mulakatId="@item.MulakatId" id="KomisyonId">
                                        @item.KomisyonUyeAdiSoyadi
                                    </a>
                                </td>

                                @if (@item.KomisyonUyeDurum == "Asıl")
                                {
                                    <td style="color:green" class="font-weight-bold">Asıl</td>
                                }
                                else
                                {
                                    <td style="color:red" class="font-weight-bold">Yedek</td>
                                }
                                <td>
                                    <form asp-action="DurumDegistir" asp-controller="Komisyonlar" method="post">
                                        <input type="hidden" name="KomisyonId" value="@item.KomisyonId" />
                                        @if (item.KomisyonGorevDurum==true)
                                        {
                                            <button type="submit" class="btn btn-success btn-sm">
                                                <i class="fas fa-check-circle"></i> Aktif
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <i class="fas fa-times-circle"></i> Pasif
                                            </button>
                                        }
                                    </form>
                                </td>

                                <td class="text-center">
                                    <a class="btn btn-sm btn-danger btnSil" data-id="@item.KomisyonId">
                                        <i class="fas fa-trash text-white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
