@model List<YOGBIS.Common.VModels.AdayBasvuruBilgileriVM>



<div class="card shadow-lg rounded-lg col-lg-12">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTableE" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mülakat Yılı</th>
                        <th>Doğum Yeri</th>
                        <th>Yaş</th>
                        <th>İkamet İl/İlçe</th>
                        <th>Hizmet Yıl/Ay/Gün</th>
                        <th>Derece/Kademe</th>
                        <th>İlk Görev Kaydı</th>
                        <th>Görev İptal</th>
                        <th>Adli Sicil</th>
                        <th>Yabancı Dil</th>
                        <th>YL/Doktora</th>
                        <th>Genel Görüş</th>
                        <th>Ek-1 Bilgi Formu</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @*                         foreach (var item in Model.Where(x => x.MulakatId.HasValue))
                        {
                            <tr>
                                <td>@item.MulakatYil</td>
                                <td>@item.CepTelNo</td>
                                <td>@item.EPosta</td>
                                <td>@item.NufusIl</td>
                                <td>@item.NufusIlce</td>
                                <td>@item.IkametAdres</td>
                                <td>@item.IkametIl</td>
                                <td>@item.IkametIlce</td>
                            </tr>
                        } *@
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center" style="padding: 20px;">
                                <i class="fas fa-info-circle text-info mr-2"></i>
                                Herhangi bir kayıt bulunamadı!
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="col-md-12 center">
            <a class="btn btn-sm text-white w-100 text-capitalize" title="Kapat" id="btnBilgiFormKapat" style="font-size:large;background-color:darkorange">BİLGİ FORMUNU KAPAT</a>
        </div>
    </div>
</div>

