@model List<YOGBIS.Common.VModels.AdayMYSSVM>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Aday Mesleki Yeterlilik Sözlü Sınavı Bilgileri</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTableE" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mülakat Yılı</th>
                        <th>Sınav Tarihi</th>
                        <th>Sınav Saati</th>
                        <th>Komisyon</th>
                        <th>Komisyon SN</th>
                        <th>Komisyon GnSn</th>
                        <th>Soru No</th>
                        <th>MYSS Puan</th>
                        <th>MYSS Sonuç</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model.Where(x => x.MulakatId.HasValue))
                        {
                            <tr>
                                <td>@item.MulakatYil</td>
                                <td>@item.MYSSTarih</td>
                                <td>@item.MYSSSaat</td>
                                <td>@item.MYSSKomisyonAdi</td>
                                <td>@item.KomisyonSN</td>
                                <td>@item.KomisyonGunSN</td>
                                <td>@item.MYSSSorulanSoruNo</td>
                                <td>@item.MYSPuan</td>
                                <td>@item.MYSSonuc</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9" class="text-center" style="padding: 20px;">
                                <i class="fas fa-info-circle text-info mr-2"></i>
                                Herhangi bir kayıt bulunamadı!
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
