@model List<YOGBIS.Common.VModels.SoruKategorilerVM>
@{
    ViewData["Title"] = "Soru Kategorileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .block {
        position: fixed;
        z-index: 2;
        right: 15px;
        top: 95px;
    }
</style>
@*<div class="block">
    <ol class="breadcrumb mb-4 mt-2 sb-nav-fixed">
        <li>
            <a asp-controller="SoruKategorileri" asp-action="SoruKategoriEkle" class="btn btn-success btn-circle btn-sm w-100" title="Yeni Kayıt">
                Yeni Kayıt <i class="fas fa-plus-circle"></i>
            </a>
        </li>
    </ol>
</div>*@
<ol class="breadcrumb mb-4 mt-2">
    <li>
        <a asp-controller="SoruKategorileri" asp-action="SoruKategoriEkle" class="btn btn-success btn-circle btn-sm w-100" title="Yeni Kayıt">
            Yeni Kayıt <i class="fas fa-plus-circle"></i>
        </a>
    </li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Soru Kategorileri</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Kategori No</th>
                        <th>Kategori Adı</th>
                        <th>Derece</th>
                        <th>Kategori Kullanımı</th>
                        <th>Puan</th>
                        <th class="text-center">Düzenle</th>
                        <th class="text-center">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                    <tr>
                        <td>@sirano</td>
                        <td>@item.SoruKategoriId</td>
                        <td>@item.SoruKategoriAdi</td>
                        <td>@item.SoruKategoriDerece</td>
                        <td>@item.SoruKategoriKullanimi</td>
                        <td>@item.SoruKategoriPuan</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-info" title="Düzenle" asp-controller="SoruKategorileri" asp-action="SoruKategoriGuncelle" asp-route-id="@item.SoruKategoriId">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-danger btnSoruSil" title="Sil" id="btnSoruSil" data-id="@item.SoruKategoriId">
                                <i class="fas fa-trash text-white"></i>
                            </a>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Kayıt bulunamadı!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            $("#myTable").on("click", ".btnSoruSil", function () {
                var btn = $(this);
                bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                    if (result) {
                        var id = btn.data("id");
                        $.ajax({
                            type: "DELETE",
                            url: "/SoruKategorileri/SoruKategoriSil/" + id,
                            success: function () {
                                btn.parent().parent().remove();
                                location.reload();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
