@using Microsoft.AspNetCore.Identity
@inject SignInManager<YOGBIS.Data.DbModels.Kullanici> SignInManager
@inject UserManager<YOGBIS.Data.DbModels.Kullanici> UserManager
@model YOGBIS.Common.VModels.OgrencilerVM
@{
    ViewData["Title"] = "Öğrenci Kayıt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var okulid = ViewData["OkulId"];
    var eyaletid = ViewData["EyaletId"];
    var sehirid = ViewData["SehirId"];
}
@section Styles{

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
}

@*<partial name="_StatusMessage" model="@Model.StatusMessage"/>*@

<div class="row">
    <!--Kayıt Form-->
    <div class="col-md-5">
        <div class="card shadow-lg rounded-lg mt-0 h-auto">
            <div class="card-header">
                <i class="fas fa-pen mr-1"></i>
                <b>Öğrenci Ekleme/Güncelleme</b>
            </div>
            <div class="card-body">
                <form class="form-group m-0" asp-action="OgrenciEkle" name="ogrenciekleform">
                    @Html.HiddenFor(x => x.UlkeId)
                    @Html.HiddenFor(x => x.OgrencilerId)
                    <input hidden type="text" value="@eyaletid" id="inputEyaletId" asp-for="EyaletId" />
                    <input hidden type="text" value="@sehirid" id="inputSehirId" asp-for="SehirId" />
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="OkulId" class="small mb-1 font-weight-bold">Okul Adı</label>
                                @Html.DropDownListFor(u => u.OkulId, new SelectList(ViewBag.OkulAdi, "OkulId", "OkulAdi"), "Okul adını seçiniz",
                                    new { @id = "OkulListesi", @class = "form-control-range form-control py-2" })
                                <span class="text-danger" asp-validation-for="OkulId"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Sınıf Seçimi</label>
                                @Html.DropDownListFor(u => u.SinifId, new SelectList(ViewBag.SinifAdi, "SinifId", "SinifAdi"),
                               "Sınıfı seçiniz", new { @id = "SinifListesi", @class = "form-control-range form-control py-2" })
                            </div>
                            <span class="text-danger" asp-validation-for="SinifId"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Şube Seçimi</label>
                                @Html.DropDownListFor(u => u.SubeId, new SelectList(ViewBag.SubeAdi, "SubeId", "SubeAdi"),
                               "Şubeyi seçiniz", new { @id = "SubeListesi", @class = "form-control-range form-control py-2" })
                            </div>
                            <span class="text-danger" asp-validation-for="SubeId"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Öğrenci Türü</label>
                                <select asp-for="OgrenciTuru" class="form-control-range form-control py-2" id="ogrencituruselect" aria-label="Default select example">
                                    <option selected class="text-left">Öğrenci türünü seçiniz</option>
                                    @if (User.IsInRole("SubManager"))
                                    {
                                        <option value="1">MEB-Okul Öğrenci</option>
                                    }
                                    else
                                    {
                                        <option value="2">TTK Mahallinden Öğrenci</option>
                                        <option value="3">TTK Öğrenci</option>
                                        <option value="4">Türkçe Kursları</option>
                                        <option value="5">Okutman Öğrenci</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="OgrenciTuru">Öğrenci türünü seçmelisiniz !</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Uyruğu</label>
                                <select asp-for="Uyruk" class="form-control-range form-control py-2" aria-label="Default select example">
                                    <option selected class="text-left">Öğrenci uyruğunu seçiniz</option>
                                    <option value="1">T.C.</option>
                                    <option value="2">Diğer</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Uyruk">Öğrenci Uyruğunu seçmelisiniz !</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Cinsiyeti</label>
                                <select asp-for="Cinsiyet" class="form-control-range form-control py-2" aria-label="Default select example">
                                    <option selected class="text-left">Öğrenci cinsiyetini seçiniz</option>
                                    <option value="true">Kız</option>
                                    <option value="false">Erkek</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Cinsiyet">Öğrenci Cinsiyetini seçmelisiniz !</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label class="small mb-1 font-weight-bold">Kayıt Tarihi</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input asp-for="BaslamaKayitTarihi" id="inputOgrKayitTar" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Kayıt Nedeni</label>
                                <select asp-for="KayitNedeni" class="form-control-range form-control py-2" aria-label="Default select example">
                                    <option selected class="text-left">Kayıt nedenini seçiniz</option>
                                    <option value="1">Yeni kayıt</option>
                                    <option value="2">Nakil</option>
                                </select>
                                <span class="text-danger" asp-validation-for="KayitNedeni"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Kayit Sayisi</label>
                                <input asp-for="KayitSayisi" type="number" min="0" max="9999" value="0" class="form-control py-2 ogrsay" id="OgrenSayiInput" placeholder="">
                                <span class="text-danger" asp-validation-for="KayitSayisi"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label class="small mb-1 font-weight-bold">Kayıt Silme Tarihi</label>
                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input asp-for="AyrilmaTarihi" id="inputOgrKayitSilTar" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Kayıt Silme Nedeni</label>
                                <select asp-for="AyrilmaNedeni" class="form-control-range form-control py-2" aria-label="Default select example">
                                    <option selected class="text-left">Kayıt silme nedenini seçiniz</option>
                                    <option value="1">Mezun</option>
                                    <option value="2">Nakil Giden</option>
                                    <option value="3">Diğer</option>
                                </select>
                                <span class="text-danger" asp-validation-for="AyrilmaNedeni"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="small mb-1 font-weight-bold">Silinen Kayit Sayisi</label>
                                <input asp-for="AyrilanSayisi" type="number" min="0" max="9999" value="0" class="form-control py-2 ogrsay" id="SilinenOgrenSayiInput" placeholder="">
                                <span class="text-danger" asp-validation-for="AyrilanSayisi"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="submit" value="Kaydet" class="btn btn-success btn-sm mb-1" style="width:100px" />
                            <a asp-controller="Okullar" asp-action="SubeSinifOgrenci" asp-route-id="@okulid" name="cancel" class="btn btn-danger btn-sm mb-1" style="width:100px">Geri Dön</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Öğrenci Liste-->
    <div class="col-md-7">
        @await Component.InvokeAsync("OkulOgrenciListesi", okulid)
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-10-year-range.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <script type="text/javascript">

        $('#datetimepicker1, #datetimepicker2').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        document.body.onload = function () {

            document.getElementById("SubeListesi").style.pointerEvents = "none";
        };

        //$(".ogrsay").on("input", function () {

        //    var tcerkek = $("#TCErkek").val();
        //    var tcerk = parseInt(tcerkek);
        //    var tckiz = $("#TCKiz").val();
        //    var tckz = parseInt(tckiz);

        //    var dgerkek = $("#DigerErkek").val();
        //    var dgerk = parseInt(dgerkek);
        //    var dgkiz = $("#DigerKiz").val();
        //    var dgkz = parseInt(dgkiz);

        //    document.getElementById("TCToplam").value = tcerk + tckz;
        //    document.getElementById("DigerToplam").value = dgerk + dgkz;
        //    document.getElementById("ToplamErkek").value = tcerk + dgerk;
        //    document.getElementById("ToplamKiz").value = tckz + dgkz;
        //    document.getElementById("GenelToplam").value = tcerk + tckz + dgerk + dgkz;
        //});
        //function validateForm() {

        //    var tur = $("#ogrencituruselect option:selected").text();
        //    //let x = document.forms["ogrenciekleform"]["ogrencituruselect option:selected"].text;
        //    if (tur == "Öğrenci türünü seçiniz") {
        //        alert(tur);
        //        $("ogrencituruval").val("Öğrenci türünü seçmelisiniz !");
        //    }
        //    else {
        //        this.type = "submit";
        //    }
        //}
        $("#btnOgrenciDegistir").click(function () {

            var subeId = $("#inputSubeId").val();
            var sinifId = $("#inputSinifId").val();
            var okulId = $("#inputOkulId").val();
            var eyaletId = $("#inputEyaletId").val();
            var sehirId = $("#inputSehirId").val();
            var ulkeId = $("#inputUlkeId").val();

            //alert("sinif id=" + sinifId + " sinif adı =" + sinifAdi);
            //alert("şube id =" + subeId + " şube adı =" + subeAdi);
            //alert("okul id=" + okulId);
            //alert("şehir id =" + sehirId);
            //alert("eyalet id =" + eyaletId);
            //alert("ulke id =" + ulkeId);

            location.href = '@Url.Action("OgrenciEkle", "Ogrenciler")?ulkeId=' + ulkeId + '&eyaletId=' + eyaletId + '&sehirId=' + sehirId + '&okulId=' + okulId + '&sinifId=' + sinifId + '&subeId=' + subeId;

        });

        $(function () {
            $("#myTable").on("click", ".btnSil", function () {
                var btn = $(this);
                bootbox.confirm({
                    message: "Silmek istediğinize emin misiniz?",
                    buttons: {
                        confirm: {
                            label: 'Evet',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Hayır',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {

                        if (result) {
                            var id = btn.data("id");
                            $.ajax({
                                type: "DELETE",
                                url: "/Ogrenciler/OgrenciSil/" + id,
                                success: function () {
                                    btn.parent().parent().remove();
                                    location.reload();
                                }
                            });
                        }
                    }

                });
            });
        });

        $("#SinifListesi").on("change", function () {

                document.getElementById("SubeListesi").style.pointerEvents = "all";

                var sinifId = $("#SinifListesi").val();

                $("#SubeListesi").empty();
                $("#SubeListesi").append("<option value=''> Şubeyi seçiniz </option>");

                var url = '@Url.Action("SubeAdGetir", "Ogrenciler")?sinifId=' + sinifId;

                $.getJSON(url, function (data) {

                    $.each(data, function (i=0,sinifId,sinifAdi) {

                        /*alert(data);*/
                        $('#SubeListesi').append($('<option>', {
                            value: data[i]['subeId'],
                            text: data[i]['subeAdi']
                        }));

                    });
                });

        });

    </script>
}



