
@model IEnumerable<YOGBIS.Common.VModels.OgrencilerVM>
@{
    ViewData["Title"] = "Öğrenci Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-2">
    <li class="ml-2 mr-2">
        @Html.DropDownList("UlkeListesi", new SelectList(ViewBag.UlkeAdi, "UlkeId", "UlkeAdi"), "Ülke seçimi", new { @class = "form-control-range form-control py-1 w-100" })
    </li>
    <li class="ml-2 mr-2">
        @Html.DropDownList("OkulListesi", new SelectList(ViewBag.OkulAdi, "OkulId", "OkulAdi"), "Okul seçimi", new { @class = "form-control-range form-control py-1 w-100" })
    </li>
    <li class="ml-2 mr-2">
        @*@Html.DropDownList("AyListesi", new SelectList(Enum.GetNames(typeof(EnumAylar))), "Ay Seç", new { @class = "form-control-range form-control py-1 w-100" })*@
        @*@Html.DropDownList("AyListesi", new SelectList(ViewBag.Aylar), "Ay Seç", new { @class = "form-control-range form-control py-1 w-100" })*@ 
        <select class="form-control-range form-control py-2" aria-label="Default select example" id="AyListesi">
            <option asp-for="Ay" selected class="text-center">Ay seçimi</option>
            <option asp-for="Ay" value="Ocak">Ocak</option>
            <option asp-for="Ay" value="Şubat">Şubat</option>
            <option asp-for="Ay" value="Mart">Mart</option>
            <option asp-for="Ay" value="Nisan">Nisan</option>
            <option asp-for="Ay" value="Mayıs">Mayıs</option>
            <option asp-for="Ay" value="Haziran">Haziran</option>
            <option asp-for="Ay" value="Temmuz">Temmuz</option>
            <option asp-for="Ay" value="Ağustos">Ağustos</option>
            <option asp-for="Ay" value="Eylül">Eylül</option>
            <option asp-for="Ay" value="Ekim">Ekim</option>
            <option asp-for="Ay" value="Kasım">Kasım</option>
            <option asp-for="Ay" value="Aralık">Aralık</option>
        </select>
    </li>
    <li class="m-2">
        <a asp-controller="Ogrenciler" asp-action="OgrencileriGetir"><i class="fas fa-sync-alt text-success" title="Sayfayı yenile"></i></a>
    </li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Öğrenci Bilgileri</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" style="width:100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Ülke</th>
                        <th>Okul Adı</th>
                        <th>Yıl</th>
                        <th>Ay</th>
                        <th>TC Erkek</th>
                        <th>TC Kız</th>
                        <th>TC Toplam</th>
                        <th>Diğer Erkek</th>
                        <th>Diğer Kız</th>
                        <th>Diğer Toplam</th>
                        <th>Toplam Erkek</th>
                        <th>Toplam Kız</th>
                        <th>Genel Toplam</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                @*<td>@sirano</td>
                                <td>@item.UlkeAdi</td>
                                <td>@item.OkulAdi</td>
                                <td>@item.Yil</td>
                                <td>@item.Ay</td>
                                <td class="text-center">@item.TCEOg</td>
                                <td class="text-center">@item.TCKOg</td>
                                @{ var toptc = Convert.ToInt32(item.TCEOg.ToString()) + Convert.ToInt32(item.TCKOg.ToString());}
                                <td class="text-center">@toptc</td>
                                <td class="text-center">@item.DEOg</td>
                                <td class="text-center">@item.DKOg</td>
                                @{ var topdg = Convert.ToInt32(item.DEOg.ToString()) + Convert.ToInt32(item.DKOg.ToString());}
                                <td class="text-center">@topdg</td>
                                @{ var toper = Convert.ToInt32(item.TCEOg.ToString()) + Convert.ToInt32(item.DEOg.ToString());}
                                <td class="text-center">@toper</td>
                                @{ var topkz = Convert.ToInt32(item.TCKOg.ToString()) + Convert.ToInt32(item.DKOg.ToString());}
                                <td class="text-center">@topkz</td>
                                @{ var toplam = Convert.ToInt32(toper.ToString()) + Convert.ToInt32(topkz.ToString());}
                                <td class="text-center">@toplam</td>*@
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Kayıt bulunamadı!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(document).ready(function () {

            $("#UlkeListesi").on("change", function () {

                var UlkeId = $("#UlkeListesi").val();
                /*alert(Id);*/
                $.ajax({
                    type: "GET",
                    url: "/Ogrenciler/OgrencileriGetirUlkeId/"+UlkeId,
                    success: function (data) {
                        if (data.isSucces) {
                            window.location.href = "?ulkeId="+UlkeId;                            
                        } else {                            
                            alert("Birşeyler kötü gitti !");
                        }
                    }
                });

            });

            $("#OkulListesi").on("change", function () {

                var OkulId = $("#OkulListesi").val();
                /*alert(Id);*/
                $.ajax({
                    type: "GET",
                    url: "/Ogrenciler/OgrencileriGetirOkulId/" + OkulId,
                    success: function (data) {
                        if (data.isSucces) {
                            window.location.href = "?okulId=" + OkulId;
                        } else {
                            alert("Birşeyler kötü gitti !");
                        }
                    }
                });
            
            });

            $("#AyListesi").on("change", function () {

                var Id = $("#AyListesi").val();
                /*alert(Id);*/
                //$.ajax({
                //    type: "DELETE",
                //    url: "/Ogrenciler/OgrencileriGetirOkulId/" + Id,
                //    success: function (data) {
                //        if (data.isSucces) {
                //            window.location.href = "?okulId=" + Id;
                //        } else {
                //            alert("Birşeyler kötü gitti !");
                //        }
                //    }
                //});

            });

            var selected = [];
            var table = $('#myTable').DataTable({

                destroy: true,                
                order: [[1, 'asc']],
                rowGroup: {
                startRender: null,
                endRender: function (rows, group) {

                    var TCErkek = rows
                        .data()
                        .pluck(5)
                        .reduce(function (a, b) {
                            return a + b * 1;
                        }, 0);
                     var TCKiz = rows
                        .data()
                        .pluck(6)
                        .reduce(function (a, b) {
                            return a + b * 1;
                        }, 0);
                     var TCToplam = rows
                        .data()
                        .pluck(7)
                        .reduce(function (a, b) {
                            return a + b * 1;
                        }, 0);
                      var DErkek = rows
                        .data()
                        .pluck(8)
                        .reduce(function (a, b) {
                            return a + b * 1;
                        }, 0);
                      var DKiz = rows
                        .data()
                        .pluck(9)
                        .reduce(function (a, b) {
                            return a + b * 1;
                        }, 0);
                     var DToplam = rows
                        .data()
                        .pluck(10)
                        .reduce(function (a, b) {
                            return a + b * 1;
                        }, 0);
                     var ToplamErkek = rows
                        .data()
                        .pluck(11)
                        .reduce(function (a, b) {
                            return a + b * 1;
                        }, 0);
                      var ToplamKiz = rows
                        .data()
                        .pluck(12)
                        .reduce(function (a, b) {
                            return a + b * 1;
                        }, 0);
                      var GToplam = rows
                        .data()
                        .pluck(13)
                        .reduce(function (a, b) {
                            return a + b * 1;
                        }, 0);
                    return $('<tr/>')
                        .append('<td colspan="5">Toplam ' + group + '</td>')
                        .append('<td class="text-center">' + TCErkek.toFixed(0) + '</td>')
                        .append('<td class="text-center">' + TCKiz.toFixed(0) + '</td>')
                        .append('<td class="text-center">' + TCToplam.toFixed(0) + '</td>')
                        .append('<td class="text-center">' + DErkek.toFixed(0) + '</td>')
                        .append('<td class="text-center">' + DKiz.toFixed(0) + '</td>')
                        .append('<td class="text-center">' + DToplam.toFixed(0) + '</td>')
                        .append('<td class="text-center">' + ToplamErkek.toFixed(0) + '</td>')
                        .append('<td class="text-center">' + ToplamKiz.toFixed(0) + '</td>')
                        .append('<td class="text-center">' + GToplam.toFixed(0) + '</td>'); 
                },
                dataSrc: 1
                },
                fixedHeader: {
                header: true,
                headerOffset: $('#navbar').height()
                },  
                stateSave: true,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',  
                "paging": true,
                "language": {
                    "emptyTable": "Gösterilecek veri yok.",
                    "processing": "Veriler yükleniyor",
                    "sDecimal": ".",
                    "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                    "sLoadingRecords": "Yükleniyor...",
                    "sSearch": "Ara:",
                    "sZeroRecords": "Eşleşen kayıt bulunamadı",
                    "oPaginate": {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    "oAria": {
                        "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                    },
                    "select": {
                        "rows": {
                            "_": "%d kayıt seçildi",
                            "0": "",
                            "1": "1 kayıt seçildi"
                        }
                    }
                },
                buttons: [
                    {
                        text: 'Excel',
                        extend: 'excel',
                        className: 'btn btn-success btn-sm mt-1 mb-2 ml-1 rounded w-25 h-25'
                    },
                    {
                        text: 'Pdf',
                        extend: 'pdf',
                        className: 'btn btn-danger btn-sm mt-1 mb-2 ml-1 rounded w-25 h-25',
                        download: 'open'
                    },
                    {
                        text: 'Pdf-y',
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        className: 'btn btn-danger btn-sm mt-1 mb-2 ml-1 rounded w-50 h-25',
                        download: 'open'
                    },
                    {
                        text: 'Yazdır',
                        extend: 'print',
                        className: 'btn btn-warning btn-sm mt-1 mb-2 ml-1 rounded w-25 h-25',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    {
                        text: 'Kolonlar',
                        extend: 'colvis',
                        className: 'btn btn-info btn-sm mt-1 mb-2 ml-1 rounded'
                    },
                ],
                columnDefs: [{            
                    visible: false
                }],
                select: true
                
            });

        });
    </script>
}



