@model IEnumerable<YOGBIS.Common.VModels.OkulBilgiVM>
@{
    ViewData["Title"] = "Okul Yönetici Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .block {
        position: fixed;
        z-index: 2;
        right: 15px;
        top: 95px;
    }
</style>

<ol class="breadcrumb mb-4 mt-2">
    <li class="ml-2 mr-2">
        @Html.DropDownList("UlkeListesi", new SelectList(ViewBag.UlkeAdi, "UlkeId", "UlkeAdi"), "Ülkeyi Seç", 
       new { @id = "UlkeListesi", @class = "form-control-range form-control py-1 w-100" })
    </li>
    <li class="ml-2 mr-2">
        @Html.DropDownList("OkulListesi", new SelectList(ViewBag.OkulAdi, "OkulId", "OkulAdi"), "Okulu Seç", 
       new { @id = "OkulListesi", @class = "form-control-range form-control py-1 w-100" })
    </li>
    <li class="m-2">
        <a asp-controller="OkulBilgi" asp-action="OkulBilgileriGetir"><i class="fas fa-sync-alt text-success" title="Sayfayı yenile"></i></a>
    </li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Okul Yönetici Bilgileri</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" style="width:100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Ülke</th>
                        <th>Okul Adı</th>
                        <th>Okul Telefon</th>
                        <th>Okul Adres</th>
                        <th>Müdür</th>
                        <th>Dönüş Yılı</th>
                        <th>Müdür Cep</th>
                        <th>Müdür E-Posta</th>
                        <th>Müdür Yardımcısı</th>
                        <th>Dönüş Yılı</th>
                        <th>Müdür Yrd. Cep</th>
                        <th>Müdür Yrd. E-Posta</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                <td>@item.UlkeAdi</td>
                                <td>@item.OkulAdi</td>
                                <td>@item.OkulTelefon</td>
                                <td>@item.OkulAdres</td>
                                <td class="text-capitalize">@item.MudurAdiSoyadi</td>
                                <td>@item.MudurDonusYil</td>
                                <td>@item.MudurTelefon</td>
                                <td>@item.MudurEPosta</td>
                                <td class="text-capitalize">@item.MdYrdAdiSoyadi</td>
                                <td>@item.MdYrdDonusYil</td>
                                <td>@item.MdYrdTelefon</td>
                                <td>@item.MdYrdEPosta</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Kayıt bulunamadı!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(document).ready(function () {

            $("#UlkeListesi").on("change", function () {

                var Id = $("#UlkeListesi").val();

                $("#OkulListesi").empty();

                $("#OkulListesi").append("<option value=''> Okul adını seçiniz </option>");

                $("#OkulListesi").append("<option value='0'> Tümünü seç </option>");

                var url = '@Url.Action("OkulAdGetirUlkeId", "OkulBilgi")?ulkeId=' + Id;

                $.getJSON(url, function (data) {

                    $.each(data, function (i=0,okulId,okulAdi) {

                        /*alert(data);*/
                        $('#OkulListesi').append($('<option>', {
                            value: data[i]['okulId'],
                            text: data[i]['okulAdi']
                        }));

                    });
                });

                @*location.href = '@Url.Action("OkulBilgileriGetir", "OkulBilgi")?ulkeId=' + Id;*@

            });

            $("#OkulListesi").on("change", function () {

                var ulkeId = $("#UlkeListesi").val();
                var OkulId = $("#OkulListesi").val();

                if (OkulId == 0) {
                    location.href = '@Url.Action("OkulBilgileriGetir", "OkulBilgi")?ulkeId=' + ulkeId;
                }
                else {
                    location.href = '@Url.Action("OkulBilgileriGetirOkulId", "OkulBilgi")?okulId=' + OkulId;
                }

            });
        });

    </script>
}

