@model List<YOGBIS.Common.VModels.SoruBankasiVM>
@{
    ViewData["Title"] = "Soru Bankası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-2">
    <li>
        <a asp-controller="SoruBankasi" asp-action="SoruEkle" class="btn btn-success btn-circle btn-sm w-100" title="Yeni Kayıt">
            Yeni Kayıt <i class="fas fa-plus-circle"></i>
        </a>
    </li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Soru Bankası</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Soru No</th>
                        <th>Kategori Adı</th>
                        <th>Soru</th>
                        <th>Cevap</th>
                        <th>Durumu</th>
                        <th>Kaydeden</th>
                        <th class="text-center">Düzenle</th>
                        <th class="text-center">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                    <tr>
                        <td>@sirano</td>
                        <td>@item.SoruBankasiId</td>
                        <td>@item.SoruKategoriler.SoruKategorilerAdi</td>
                        <td>@item.Soru</td>
                        <td>@item.Cevap</td>
                        @if (item.OnayDurumu == SoruOnayEnums.Onaya_Gonderildi)
                        {
                            <td style="color:green">@item.OnayDurumuAciklama</td>
                        }
                        else if (item.OnayDurumu == SoruOnayEnums.Onaylandi)
                        {
                            <td style="color:blue">@item.OnayDurumuAciklama</td>
                        }
                        else
                        {
                            <td style="color:red">@item.OnayDurumuAciklama</td>
                        }
                        <td>@item.KaydedenAdi</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-info" title="Düzenle" asp-controller="SoruBankasi" asp-action="Guncelle" asp-route-id="@item.SoruBankasiId">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-danger btnSil" title="Sil" id="btnSil" data-id="@item.SoruBankasiId">
                                <i class="fas fa-trash text-white"></i>
                            </a>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Kayıt bulunamadı!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            $("#myTable").on("click", ".btnSil", function () {
                var btn = $(this);
                bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                    if (result) {
                        var id = btn.data("id");
                        $.ajax({
                            type: "DELETE",
                            url: "/SoruBankasi/SoruSil/" + id,
                            success: function () {
                                btn.parent().parent().remove();
                                location.reload();
                            }
                        });
                    }
                });
            });
        });
    </script>
}


