@model IEnumerable<YOGBIS.Common.VModels.UlkeTercihVM>

<div class="card mb-3">
    <h6 class="card-header text-center text-danger p-md-1">
        @{
            var yil = 0;
        }
        @if (Model != null)
        {
            foreach (var item in Model) 
            {
                yil = (int)item.MulakatYil;
            }
        }
        <span id="oncekiyil" class="text-primary">
            <a href="" class="text-primary">Önceki Yıl</a>
        </span>
        ÜLKE KONTENJANLARI - @yil.ToString()
        <span id="sonrakiyil" class="text-primary">
            <a href="" class="text-primary">Sonraki Yıl</a>
        </span>
    </h6>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display nowrap" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sıra No</th>
                        <th>Derece</th>
                        <th>Ülke Grubu</th>
                        <th>Yabancı Dil</th>
                        <th>Branşlar</th>
                        <th>Kontenjan</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var sirano = 0;
                    }
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                <td>@item.DereceAdi</td>
                                <td>
                                    <a asp-controller="UlkeTercihleri" asp-action="Guncelle" asp-route-id="@item.UlkeTercihId">@item.UlkeTercihAdi</a>
                                </td>
                                <td>@item.YabancıDil</td>
                                <td>
                                    @if (item.Branslars != null && item.Branslars.Any())
                                    {
                                        var esitBranslar = item.Branslars
                                            .Where(b => b.EsitBrans)
                                            .OrderBy(b => b.BransAdi)
                                            .Select(b => b.BransAdi);

                                        var digerBranslar = item.Branslars
                                            .Where(b => !b.EsitBrans)
                                            .OrderBy(b => b.BransAdi)
                                            .Select(b => b.BransAdi);

                                        if (esitBranslar.Any())
                                        {
                                            @string.Join(", ", esitBranslar)<br/>
                                        }
                                        if (digerBranslar.Any())
                                        {
                                            @string.Join(", ", digerBranslar)
                                        }
                                    }
                                </td>
                                <td>
                                    @if (item.Branslars != null && item.Branslars.Any())
                                    {
                                        var esitBranslar = item.Branslars.Where(b => b.EsitBrans);
                                        var digerBranslar = item.Branslars.Where(b => !b.EsitBrans);

                                        if (esitBranslar.Any())
                                        {
                                            var esitKontenjan = esitBranslar.First().BransKontSayi;
                                            @:@esitKontenjan<br/>
                                        }

                                        if (digerBranslar.Any())
                                        {
                                            foreach (var brans in digerBranslar.OrderBy(b => b.BransAdi))
                                            {
                                                @:@brans.BransKontSayi<br/>
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
