@using Microsoft.AspNetCore.Identity
@inject SignInManager<YOGBIS.Data.DbModels.Kullanici> SignInManager
@inject UserManager<YOGBIS.Data.DbModels.Kullanici> UserManager
@model IEnumerable<YOGBIS.Common.VModels.OkullarVM>
@{
    ViewData["Title"] = "Okullar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
    {
    <ol class="breadcrumb mb-4 mt-2">
        <li class="m-2">
            <a asp-controller="Okullar" asp-action="OkulEkle" class="btn btn-success btn-circle btn-sm w-100" title="Okul Kayıt">
                Okul Kayıt <i class="fas fa-plus-circle"></i>
            </a>
        </li>
        <li class="m-1">
            @Html.DropDownList("UlkeListesi", new SelectList(ViewBag.UlkeAdi, "UlkeId", "UlkeAdi"), "Ülkeyi Seç",
            new { @id = "UlkeListesi", @class = "form-control-range form-control py-1 w-100" })
        </li>
        <li class="m-1">
            @Html.DropDownList("OkulListesi", new SelectList(ViewBag.OkulAdi, "OkulId", "OkulAdi"), "Okulu Seç", 
           new { @id = "OkulListesi", @class = "form-control-range form-control py-1 w-100" })
        </li>
        <li class="m-1">
            <select class="form-control-range form-control py-2" aria-label="Default select example" id="okulayselect">
                <option selected class="text-left">Ay seçimi</option>
                <option value="1">Ocak</option>
                <option value="2">Şubat</option>
                <option value="3">Mart</option>
                <option value="4">Nisan</option>
                <option value="5">Mayıs</option>
                <option value="6">Haziran</option>
                <option value="7">Temmuz</option>
                <option value="8">Ağustos</option>
                <option value="9">Eylül</option>
                <option value="10">Ekim</option>
                <option value="11">Kasım</option>
                <option value="12">Aralık</option>
            </select>
        </li>
        <li class="m-2">
            <a asp-controller="Okullar" asp-action="Index"><i class="fas fa-sync-alt text-success" title="Sayfayı yenile"></i></a>
        </li>
    </ol>
    }
    <div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Okullar</b>
    </div>
    <div class="card-body">
        <input hidden id="ayinput" />
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTable" style="width:100%" cellspacing="0">
                <thead>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                    {
                        <tr><th class="text-center" colspan="18">OKULLARIMIZIN @DateTime.Now.ToString("MMMMM") @DateTime.Now.Year TARİHİ İTİBARİYLE ÖĞRENCİ SAYILARI</th></tr>
                    }
                    <tr>
                        <th class="text-center" rowspan="3">Sıra No</th>
                        @*<th class="text-center" rowspan="3">Okul Sayısı</th>*@
                        <th class="text-center" rowspan="3">Ülke</th>
                        <th class="text-center" rowspan="3">Eyalet/Şehir-Bölge</th>
                        <th class="text-center" rowspan="3">Okul Kodu</th>
                        <th class="text-center" rowspan="3">Okul Adı</th>
                        <th class="text-center" rowspan="3">Okul Müdürü</th>
                        <th class="text-center" rowspan="3">Okul Açılış Tarihi</th>
                        <th class="text-center" rowspan="3">Okul Derslik Toplamı</th>
                        <th class="text-center" colspan="9">ÖĞRENCİ SAYILARI</th>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="3">TC</th>
                        <th class="text-center" colspan="3">DİĞER</th>
                        <th class="text-center" colspan="3">GENEL TOPLAM</th>
                    </tr>
                    <tr>
                        <th class="text-center">E</th>
                        <th class="text-center">K</th>
                        <th class="text-center">T</th>
                        <th class="text-center">E</th>
                        <th class="text-center">K</th>
                        <th class="text-center">T</th>
                        <th class="text-center">E</th>
                        <th class="text-center">K</th>
                        <th class="text-center">T</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                            <tr>
                                <td>@sirano</td>
                                @*<td>okulsayısı</td>*@
                                <td><a asp-controller="Ulkeler" asp-action="UlkeDetayById" asp-route-id="@item.UlkeId">@item.UlkeAdi</a></td>
                                @if (item.EyaletAdi == "" && item.SehirAdi == "")
                                {
                                    <td></td>
                                }
                                else if (item.EyaletAdi != "" && item.SehirAdi == "")
                                {
                                    <td>@item.EyaletAdi</td>
                                }
                                else if (item.EyaletAdi == "" && item.SehirAdi != "")
                                {
                                    <td>@item.SehirAdi</td>
                                }
                                else
                                {
                                    <td>@item.EyaletAdi / @item.SehirAdi</td>
                                }
                                <td>@item.OkulKodu</td>
                                @if (User.IsInRole("SubManager"))
                                {
                                    <td><a asp-controller="Okullar" asp-action="OkulDetayGuncelle" asp-route-id="@item.OkulId" asp-route-ulkeId="@item.UlkeId">@item.OkulAdi</a></td>
                                }
                                else
                                {
                                    <td><a asp-controller="Okullar" asp-action="OkulDetay" asp-route-id="@item.OkulId">@item.OkulAdi</a></td>
                                }
                                <td>@item.OkulMudurAdiSoyadi</td>
                                <td class="text-center">@item.OkulAcilisTarihi.ToString("dd/MM/yyyy")</td>
                                <td class="text-center">@item.SubeSayisi</td>
                                <td class="text-center">@item.TCEOgr</td>
                                <td class="text-center">@item.TCKOgr</td>
                                <td class="text-center">@item.TCTopOgr</td>
                                <td class="text-center">@item.DigEOgr</td>
                                <td class="text-center">@item.DigKOgr</td>
                                <td class="text-center">@item.DigTopOgr</td>
                                <td class="text-center">@item.GenEOgr</td>
                                <td class="text-center">@item.GenKOgr</td>
                                <td class="text-center">@item.GenTopOgr</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Kayıt bulunamadı!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        window.OkulId = "";
        window.ulkeId = "";

        $(function () {
            $("#myTable").on("click", ".btnSil", function () {
                var btn = $(this);
                bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                    if (result) {
                        var id = btn.data("id");
                        $.ajax({
                            type: "DELETE",
                            url: "/Okullar/OkulSil/" + id,
                            success: function () {
                                btn.parent().parent().remove();
                                location.reload();
                            }
                        });
                    }
                });
            });
        });

        $("#UlkeListesi").on("change", function () {

            window.ulkeId = $("#UlkeListesi").val();

            $("#OkulListesi").empty();

            $("#OkulListesi").append("<option value=''> Okul adını seçiniz </option>");

            $("#OkulListesi").append("<option value='0'> Tümünü seç </option>");

            var url = '@Url.Action("OkulAdGetirUlkeId", "OkulBilgi")?ulkeId=' + window.ulkeId;

            $.getJSON(url, function (data) {

                $.each(data, function (i=0,okulId,okulAdi) {

                    /*alert(data);*/
                    $('#OkulListesi').append($('<option>', {
                        value: data[i]['okulId'],
                        text: data[i]['okulAdi']
                    }));

                });
            });

        });

        $("#OkulListesi").on("change", function () {

            window.OkulId = $("#OkulListesi").val();

        });

        $("#okulayselect").on("change", function () {

            var ay = $("#okulayselect").val();
            location.href = '@Url.Action("Index", "Okullar")?okulId=' + window.OkulId + '&ay=' + ay;;
        });

    </script>
}




