@using Microsoft.AspNetCore.Identity
@inject SignInManager<YOGBIS.Data.DbModels.Kullanici> SignInManager
@inject UserManager<YOGBIS.Data.DbModels.Kullanici> UserManager
@model IEnumerable<YOGBIS.Common.VModels.OkullarVM>
@{
    ViewData["Title"] = "Okullar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .block {
        position: fixed;
        z-index: 2;
        right: 15px;
        top: 95px;
    }
</style>

@if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
{
    <ol class="breadcrumb mb-4 mt-2">
        <li>
            <a asp-controller="Okullar" asp-action="OkulEkle" class="btn btn-success btn-circle btn-sm w-100" title="Okul Kayıt">
                Okul Kayıt <i class="fas fa-plus-circle"></i>
            </a>
        </li>
    </ol>
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        <b>Okullar</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped display responsive nowrap" id="myTablee" style="width:100%" cellspacing="0">
                <thead>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
                    {
                        <tr><th class="text-center" colspan="18">OKULLARIMIZIN @DateTime.Now.ToString("MMMMM") @DateTime.Now.Year TARİHİ İLE ÖĞRENCİ SAYILARI</th></tr>

                    }
                    <tr>
                        <th class="text-center" rowspan="3">Sıra No</th>
                        @*<th class="text-center" rowspan="3">Okul Sayısı</th>*@
                        <th class="text-center" rowspan="3">Ülke</th>
                        <th class="text-center" rowspan="3">Eyalet/Şehir-Bölge</th>
                        <th class="text-center" rowspan="3">Okul Kodu</th>
                        <th class="text-center" rowspan="3">Okul Adı</th>
                        <th class="text-center" rowspan="3">Okul Müdürü</th>
                        <th class="text-center" rowspan="3">Okul Açılış Tarihi</th>
                        <th class="text-center" rowspan="3">Okul Şube Toplamı</th>
                        <th class="text-center" colspan="9">ÖĞRENCİ SAYILARI</th>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="3">TC</th>
                        <th class="text-center" colspan="3">DİĞER</th>
                        <th class="text-center" colspan="3">GENEL TOPLAM</th>
                    </tr>
                    <tr>
                        <th class="text-center">E</th>
                        <th class="text-center">K</th>
                        <th class="text-center">T</th>
                        <th class="text-center">E</th>
                        <th class="text-center">K</th>
                        <th class="text-center">T</th>
                        <th class="text-center">E</th>
                        <th class="text-center">K</th>
                        <th class="text-center">T</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var sirano = 0;}
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            sirano++;
                    <tr>
                        <td>@sirano</td>
                        @*<td>okulsayısı</td>*@
                        <td><a asp-controller="Ulkeler" asp-action="UlkeDetayById" asp-route-id="@item.UlkeId">@item.UlkeAdi</a></td>
                        @if (item.EyaletAdi == "" && item.SehirAdi == "")
                        {
                            <td></td>
                        }
                        else if (item.EyaletAdi != "" && item.SehirAdi =="")
                        {
                            <td>@item.EyaletAdi</td>
                        }
                        else if (item.EyaletAdi == "" && item.SehirAdi != "")
                        {
                            <td>@item.SehirAdi</td>
                        }
                        else
                        {
                            <td>@item.EyaletAdi / @item.SehirAdi</td>
                        }                        
                        <td>@item.OkulKodu</td>
                        @if (User.IsInRole("SubManager"))
                        {
                            <td><a asp-controller="Okullar" asp-action="OkulDetayGuncelle" asp-route-id="@item.OkulId" asp-route-ulkeId="@item.UlkeId">@item.OkulAdi</a></td>
                        }
                        else
                        {
                            <td><a asp-controller="Okullar" asp-action="OkulDetay" asp-route-id="@item.OkulId">@item.OkulAdi</a></td>
                        }
                        <td>@item.OkulMudurAdiSoyadi</td>
                        <td class="text-center">@item.OkulAcilisTarihi.ToString("dd/MM/yyyy")</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Kayıt bulunamadı!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            $("#myTable").on("click", ".btnSil", function () {
                var btn = $(this);
                bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                    if (result) {
                        var id = btn.data("id");
                        $.ajax({
                            type: "DELETE",
                            url: "/Okullar/OkulSil/" + id,
                            success: function () {
                                btn.parent().parent().remove();
                                location.reload();
                            }
                        });
                    }
                });
            });
        });        

    </script>
}




