@using Microsoft.AspNetCore.Identity
@inject SignInManager<YOGBIS.Data.DbModels.Kullanici> SignInManager
@inject UserManager<YOGBIS.Data.DbModels.Kullanici> UserManager
@model YOGBIS.Common.VModels.OkullarVM

@{
    ViewData["Title"] = "OkulDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/modern-business.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- #region Styles -->

    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .closebtn {
            position: absolute;
            /*            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5);*/
            top: 10px;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #f1f1f1;
            font-size: 35px;
            /*width: 100%;*/
            cursor: pointer;
            padding: 20px;
        }

            .closebtn:hover {
                font-size: 50px;
                color: red;
            }
    </style>

    <!-- #endregion -->
}

@if (Model != null)
{

    <div class="row mt-0">
        <!--Okul Bilgi-->
        <div class="col-md-6">
            <form class="form-group m-0" asp-action="OkulDetayGuncelle" enctype="multipart/form-data">
                @Html.HiddenFor(x => x.OkulId)
                <input hidden value="@Model.UlkeId" id="ulkeIdInput" asp-for="UlkeId" />
                <div class="form-row">
                    <div class="col-md-12 mb-2">

                        <!--Okul Ad-Logo-->
                        <div class="form-row">
                            <div class="col-md-9"><h3 class="text-info">@Model.OkulAdi</h3></div>
                            <div class="col-md-3">
                                @if (Model.OkulLogoURL != null)
                                {
                                    <img id="okulLogoImages" class="rounded d-block shadow img-profile" style="width:150px;height:50px" alt="Okul Logo" src="@Model.OkulLogoURL">
                                }
                                else
                                {
                                    <img id="okulLogoImages" class="rounded d-block shadow img-profile" style="width:150px;height:50px" alt="Okul Logo" src="../../img/OkulLogo/noimage.png">
                                }
                            </div>
                        </div>
                        <!--Okul Logo Input-->
                        <div class="form-row">
                            <div class="col-md-12">
                                <label asp-for="OkulLogo" class="small mb-1 font-weight-bold">Okul Logosunu seçiniz</label>
                                <input type="file" asp-for="OkulLogo"
                                       accept=".png,.jpg,.jpeg,.gif,.tif"
                                       class="@(this != null ? "btn btn-outline-danger mb-1 btn-sm col-md-12" : "btn btn-outline-success mb-1 btn-sm col-md-12")"
                                       title="Okul Logosu seçiniz" placeholder="Okul Logosu" id="okulLogoInput"
                                       onchange="OkulLogoImagesFileSize(this);" />
                                <span asp-validation-for="OkulLogo" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />
                        <!--Okul Foto Galeri-->
                        <div class="form-row">
                            <div class="col-md-12 justify-content-center m-auto">
                                @if (Model.FotoGaleri.Count() > 0)
                                {
                                    <input hidden value="@Model.FotoGaleri.Count()" id="modelfotogaleriinput" />

                                    <div id="demo" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ul class="carousel-indicators">
                                            @for (int i = 0; i < Model.FotoGaleri.Count(); i++)
                                            {
                                                <li data-target="#demo" data-slide-to="@i" class="@(i==0 ? "active" : "") "></li>
                                            }
                                        </ul>
                                        <!-- The slideshow -->
                                        <div class="carousel-inner">
                                            @for (int i = 0; i < Model.FotoGaleri.Count(); i++)
                                            {
                                                <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                                                    <span class="closebtn text-center" id="@Model.FotoGaleri[i].FotoGaleriId">&times;</span>
                                                    <img id="@Model.FotoGaleri[i].FotoGaleriId" src="@Model.FotoGaleri[i].FotoURL" alt="@Model.FotoGaleri[i].FotoAdi"
                                                         style="width: 100%; height: 100%; align-content: center;" class="rounded d-block shadow img-profile okulFotos">
                                                </div>
                                            }
                                        </div>
                                        <!-- Left and right controls -->
                                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#demo" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                }
                                else
                                {

                                    <img id="okulImages" src="../../img/Okullar/noimage.png" alt="okulFoto"
                                         style="width: 100%; height: 500px; align-content: center;" class="rounded d-block shadow img-profile">

                                }
                            </div>
                        </div>
                        <!--Okul Foto Galeri Input-->
                        <div class="form-row">
                            <div class="col-md-12">
                                <label asp-for="FotoGaleris" class="small mb-1 font-weight-bold">Okulunuzdan Fotoğraflar Ekleyin</label>
                                <input type="file" id="OkulImagesInput"
                                       accept=".png,.jpg,.jpeg,.gif,.tif"
                                       asp-for="FotoGaleris"
                                       class="@(this != null ? "btn btn-outline-danger mb-1 btn-sm col-md-12" : "btn btn-outline-success mb-1 btn-sm col-md-12")"
                                       title="Resim seçiniz" placeholder="Okul Fotoğrafları"
                                       multiple
                                       onchange="ImagesFileSize(this);" />
                                <span asp-validation-for="FotoGaleris" class="text-danger"></span>
                            </div>
                        </div>

                        <hr />
                        <!--Okul Bölge-->
                        @if (Model.EyaletId == null)
                        {
                            <div class="form-row">
                                <div class="col-md-3">
                                    <p class="font-weight-bold">Eyalet</p>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control py-2" id="EyaletInput" placeholder="Eyalet adını yazınız" asp-for="EyaletAdi" />
                                    <span class="text-danger">Okulun bulunduğu ülkede eyalet sistemi yok ise boş bırakınız</span>
                                </div>
                                <div class="col-md-3">
                                    <a id="eyaletEkleBtn" name="eyaletEkleBtn" class="btn btn-success btn-sm text-white mb-2 w-75">Ekle</a>
                                </div>
                                <input hidden type="text" asp-for="EyaletId" id="EyaletIdInput" />
                            </div>
                        }
                        else
                        {
                            <div class="form-row">
                                <div class="col-md-3">
                                    <p class="font-weight-bold">Eyalet</p>
                                </div>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(u => u.EyaletId, new SelectList(ViewBag.Eyaletler, "EyaletId", "EyaletAdi"),
                                        "Eyaleti seçiniz", new { @class = "form-control-range form-control py-2" })
                                </div>
                                <span class="text-danger" asp-validation-for="EyaletId"></span>
                            </div>
                        }
                        <div class="form-row">
                            <div class="col-md-3">
                                <p class="font-weight-bold">Şehir/Bölge</p>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control py-2" id="SehirInput" placeholder="Şehir/Bölge adını yazınız" asp-for="SehirAdi" />
                            </div>
                            <div class="col-md-3">
                                <a id="sehirEkleBtn" name="sehirEkleBtn" class="btn btn-success btn-sm text-white mb-2 w-75">Ekle</a>
                            </div>
                            <input hidden type="text" asp-for="SehirId" id="SehirIdInput" />
                        </div>
                        <hr />
                        <!--Okul Bilgileri-->
                        <div class="form-row">
                            <div class="col-md-12">

                                <div class="form-row mb-1">
                                    <div class="col-md-3">
                                        <p class="font-weight-bold">Hizmete Geçiş</p>
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="OkulHizmetGecisDonem" type="text" class="form-control py-2" id="hizmetGecisInput" placeholder="Hizmete geçiş dönemini yazınız">
                                        <span class="text-danger" asp-validation-for="OkulHizmetGecisDonem"></span>
                                        <span class="text-danger">Örnek : 2005/2006 Eğitim-Öğretim Dönemi</span>
                                    </div>
                                </div>

                                <div class="form-row mb-1">
                                    <div class="col-md-3">
                                        <p class="font-weight-bold">Okul Açılış Tarihi</p>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                            <input id="inputBasTar" asp-for="OkulAcilisTarihi" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row mb-1">
                                    <div class="col-md-3">
                                        <p class="font-weight-bold">Kapalı Alan (m)<sup>2</sup></p>
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="OkulKapaliAlan" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Okul kapalı alanını yazınız">
                                        <span class="text-danger" asp-validation-for="OkulKapaliAlan"></span>
                                        <span class="text-danger">Örnek : 14.000</span>
                                    </div>
                                </div>

                                <div class="form-row mb-1">
                                    <div class="col-md-3">
                                        <p class="font-weight-bold">Açık Alan (m)<sup>2</sup></p>
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="OkulAcikAlan" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="Okul açık alanını yazınız">
                                        <span class="text-danger" asp-validation-for="OkulAcikAlan"></span>
                                        <span class="text-danger">Örnek : 14.000</span>
                                    </div>
                                </div>

                                <div class="form-row mb-1">
                                    <div class="col-md-3">
                                        <p class="font-weight-bold">Mülki Durum</p>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea asp-for="OkulMulkiDurumAciklama" placeholder="Okul mülkiyeti hakkında bilgi yazınız" class="form-control py-2 limited" id="MulkiyetTextArea" rows="3" maxlength="1000"></textarea>
                                        <span class="text-danger" asp-validation-for="OkulMulkiDurumAciklama"></span>
                                    </div>
                                </div>

                                <div class="form-row mb-1">
                                    <div class="col-md-3">
                                        <p class="font-weight-bold">Okul Telefon</p>
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="OkulTelefon" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="+90(312)4131697">
                                        <span class="text-danger" asp-validation-for="OkulTelefon"></span>
                                    </div>
                                </div>

                                <div class="form-row mb-1">
                                    <div class="col-md-3">
                                        <p class="font-weight-bold">İnternet Adresi</p>
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="OkulInternetAdresi" type="text" class="form-control py-2" id="CreateTypeInput" placeholder="https://okulad.meb.k12.tr">
                                        <span class="text-danger" asp-validation-for="OkulInternetAdresi"></span>
                                    </div>
                                </div>

                                <div class="form-row mb-1">
                                    <div class="col-md-3">
                                        <p class="font-weight-bold">E-Posta Adresi</p>
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="OkulEPostaAdresi" type="email" class="form-control py-2" id="CreateTypeInput" placeholder="okulad@meb.gov.tr">
                                        <span class="text-danger" asp-validation-for="OkulEPostaAdresi"></span>
                                    </div>
                                </div>

                                <div class="form-row mb-1">
                                    <div class="col-md-3">
                                        <p class="font-weight-bold">Özet Bilgi</p>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea asp-for="OkulBilgi" placeholder="Okul hakkında kısa bilgi yazınız" class="form-control py-2 limited" id="UlkeTextArea" rows="10" maxlength="1000"></textarea>
                                        <span class="text-danger" asp-validation-for="OkulBilgi"></span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!--Buton grubu-->
                <div class="form-row">
                    <div class="col-md-12">
                        <input value="Kaydet" class="btn btn-success btn-sm text-white mb-1" style="width:100px" id="OkulGuncelle" />
                        <a asp-controller="Okullar" asp-action="Index" id="cancel" name="cancel" class="btn btn-danger btn-sm text-white mb-1" style="width:100px">Geri Dön</a>
                        <a asp-controller="Okullar" asp-action="OkulDetay" asp-route-id="@Model.OkulId" id="OkulDetay" name="OkulDetay" class="btn btn-info btn-sm text-white mb-1" style="width:100px">Önizle</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 pl-4"><h3>FİZİKİ KAPASİTE</h3></div>
                <div class="col-md-6 pr-2 text-right text-white">
                    <button class="btn btn-primary" id="okulBolumEkle">Okul Bina Bölüm Ekle/Sil</button>
                    @*<a class="btn btn-primary" id="okulBolumEkle">Okul Bina Bölüm Ekle/Sil</a>*@
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 pl-5 pr-5">
                    @if (Model.OkulBinaBolum.Count() > 0)
                    {
                        @for (int i = 0; i < Model.OkulBinaBolum.Count(); i++)
                        {
                            <p class="font-weight-bold">@Model.OkulBinaBolum[i].BolumAdToplam <label class="font-weight-light">@Model.OkulBinaBolum[i].BolumAdi</label></p>
                            <hr />
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pl-4"><h3>OKUL KADROSU</h3></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 ml-2">
                    <div class="table-responsive w-100">
                        <table class="table table-bordered table-hover table-striped display responsive nowrap" id="Table" style="width:100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Sıra No</th>
                                    <th class="text-center">Adı Soyadı</th>
                                    <th class="text-center">Görevi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var sno = 0;}
                                @if (Model.AdayGorevKaydi.Count() > 0)
                                {
                                    @for (int i = 0; i < Model.AdayGorevKaydi.Count(); i++)
                                    {
                                        sno++;
                                        <tr>
                                            <th scope="row">@sno</th>
                                            <td><a class="text-dark text-left" asp-controller="Ogretmenler" asp-action="OgretmenDetay">@Model.AdayGorevKaydi[i].GorevliTC</a></td>
                                            <td><a class="text-dark text-left">@Model.AdayGorevKaydi[i].Gorevi</a></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="row justify-content-center">
        <h4 class="text-danger">Okula ait detay görüntülenemiyor !</h4>
    </div>
    <div class="row justify-content-center">
        <a asp-controller="Okullar" asp-action="Index" id="cancel" name="cancel" class="btn btn-danger btn-sm text-white mb-1" style="width:100px">Geri Dön</a>
    </div>
}

<!--OkulBölüm Kayıt Modal-->
<!-- #region Modal -->

<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pen mr-1"></i>Okul Bölüm Ekleme/Güncelleme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden value="@Model.OkulId" id="okulIdInput" />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="small mb-1 font-weight-bold">Bölüm Seç </label>
                            <select id="selectOkulBinaBolum" class="form-control">
                                <option value="0" selected>Bölüm seçiniz...</option>
                                <option value="1">Çok Amaçlı Salon</option>
                                <option value="2">Derslik</option>
                                <option value="3">İdari Ofis</option>
                                <option value="4">Öğretmenler Odası</option>
                                <option value="5">Kütüphane</option>
                                <option value="6">Spor Salonu</option>
                                <option value="7">Yemekhane</option>
                                <option value="8">Diğer</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="small mb-1 font-weight-bold">Bölüm Adedi </label>
                            <input type="number" class="form-control" id="okulBinaBolumAded" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            @await Component.InvokeAsync("OkulBinaBolumListe", Model.OkulId)
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnBolumKaydet" type="button" class="btn btn-success btn-sm">Kaydet</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Kapat&nbsp;</button>
            </div>
        </div>
    </div>
</div>

<!-- #endregion -->


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-10-year-range.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- #region Scripts -->

    <script type="text/javascript">

        $('#datetimepicker1').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        //$("#EyaletInput").keyup(function (e) {
        //    var eyal = e.keyCode || e.which;
        //    if (eyal != '9') {
        //        $('#EyaletInput').val($(this).val().toLowerCase());
        //    }
        //    if (eyal == '13') {
        //        $("#eyaletEkleBtn").focus();
        //    }
        //});

        //$("#SehirInput").keyup(function (s) {
        //    var seh = s.keyCode || s.which;
        //    if (seh != '9') {
        //        $('#SehirInput').val($(this).val().toLowerCase());
        //    }
        //    if (seh == '13') {
        //        $("#sehirEkleBtn").focus();
        //    }
        //});

        $("#EyaletInput").focusout(function() {


            if ($(this).val().trim() != "") {

                var ead = $(this).val().trim();

                var url = '@Url.Action("OkulEyaletGetir", "Okullar")?EyaletAdi=' + ead;

                $.getJSON(url, function (data) {

                    if (data.length != 0) {

                        $.each(data, function (i = 0, eyaletId, eyaletAdi) {

                            if (i == 0) {

                                var eyaletId = data[i]['eyaletId'];
                                var eyaletAd = data[i]['eyaletAdi'];
                                $("#EyaletIdInput").val(eyaletId);

                                alertify.success(ead + ' eyaleti daha önce kaydedilmiş');
                                /*document.getElementById("eyaletEkleBtn").style.display = "none";*/
                                document.getElementById("eyaletEkleBtn").className += " disabled";
                            }
                        });
                    }
                    else {

                        /*document.getElementById("eyaletEkleBtn").attr.className += " ";*/
                        alertify.danger(ead + ' eyaleti kayıtlı değil !');
                        document.getElementById("EyaletIdInput").value = "";
                        /*document.getElementById("eyaletEkleBtn").style.display = "block";*/
                        document.getElementById("eyaletEkleBtn").className = "btn btn-success btn-sm text-white mb-2 w-75";

                    }
                });
            }
            else {
                document.getElementById("eyaletEkleBtn").style.display = "block";
            }

        });

        $("#eyaletEkleBtn").click(function () {

            var eyalet = {
                EyaletAdi: $("#EyaletInput").val().trim(),
                UlkeId: $("#ulkeIdInput").val().trim()
            }

            $.ajax({

                type: 'POST',
                url: '/Okullar/EyaletEkleJson',
                data: eyalet,

                success: function (response) {

                    if (response === "200") {

                        alertify.success('Kayıt başarıyla eklendi');

                        var ead = $("#EyaletInput").val().trim();

                        var url = '@Url.Action("OkulEyaletGetir", "Okullar")?EyaletAdi=' + ead;

                        $.getJSON(url, function (data) {

                                if (data.length != 0) {

                                    $.each(data, function (i = 0, eyaletId, eyaletAdi) {

                                        if (i == 0) {

                                            var eyaletId = data[i]['eyaletId'];
                                            var eyaletAd = data[i]['eyaletAdi'];
                                            $("#EyaletIdInput").val(eyaletId);

                                        }
                                    });
                                }
                                else {

                                    alertify.danger('Bilinmeyen bir hata oluştu !');
                                }
                        });
                    }
                    else {

                        alertify.danger('Kayıt eklenemedi !');
                    }
                },
                error: function () {

                    alertify.danger('Kayıt eklenemedi !');
                }

            });

        });

        $("#SehirInput").focusout(function() {


            if ($(this).val().trim() != "") {

                var seh = $(this).val().trim();

                var url = '@Url.Action("OkulSehirGetir", "Okullar")?SehirAdi=' + seh;

                $.getJSON(url, function (data) {

                    if (data.length != 0) {

                        $.each(data, function (i = 0, sehirId, sehirAdi) {

                            if (i == 0) {

                                var sehirId = data[i]['sehirId'];
                                var sehirAd = data[i]['sehirAdi'];
                                $("#SehirIdInput").val(sehirId);
                                document.getElementById("sehirEkleBtn").className += " disabled";
                                alertify.success(seh + ' şehri daha önce kaydedilmiş');

                            }
                        });
                    }
                    else {

                        alertify.danger(seh + ' şehri kayıtlı değil !');
                        document.getElementById("SehirIdInput").value = "";
                        /*document.getElementById("sehirEkleBtn").style.display = "block";*/
                        document.getElementById("sehirEkleBtn").className = "btn btn-success btn-sm text-white mb-2 w-75";
                    }
                });
            }
            else {
                document.getElementById("sehirEkleBtn").style.display = "block";
            }

        });

        $("#sehirEkleBtn").click(function () {

            var eyalId = document.getElementById("EyaletIdInput").value;

            if (eyalId === "" || eyalId == null || eyalId.length == 0) {

                $("#EyaletIdInput").val(null);
            }
            else {

                eyalId = $("#EyaletIdInput").val();
            }

            var sehir = {
                SehirAdi: $("#SehirInput").val().trim(),
                EyaletId: $("#EyaletIdInput").val().trim(),
                UlkeId: $("#ulkeIdInput").val().trim()
            }

            $.ajax({

                type: 'POST',
                url: '/Okullar/SehirEkleJson',
                data: sehir,

                success: function (response) {

                    if (response === "200") {

                        alertify.success('Kayıt başarıyla eklendi');

                        var seh = $("#SehirInput").val().trim();

                        var url = '@Url.Action("OkulSehirGetir", "Okullar")?SehirAdi=' + seh;

                        $.getJSON(url, function (data) {

                                if (data.length != 0) {

                                    $.each(data, function (i = 0, sehirId, sehirAdi) {

                                        if (i == 0) {

                                            var sehirId = data[i]['sehirId'];
                                            var sehirAd = data[i]['sehirAdi'];
                                            $("#SehirIdInput").val(sehirId);

                                            alertify.success(ead + ' şehri daha önce kaydedilmiş');
                                            document.getElementById("sehirEkleBtn").style.display = "none";
                                        }
                                    });
                                }
                                else {

                                    alertify.danger('Bilinmeyen bir hata oluştu !');
                                }
                        });
                    }
                    else {

                        alertify.danger('Kayıt eklenemedi !');
                    }
                },
                error: function () {

                    alertify.danger('Kayıt eklenemedi !');
                }

            });

        });

        $(".closebtn").click(function () {

            var fotoId = $(this).attr("id");

            bootbox.confirm({
                message: "Silmek istediğinize emin misiniz?",
                buttons: {
                    confirm: {
                        label: 'Evet',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Hayır',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        /*var fotoId = $(this).attr("id");*/
                        $.ajax({
                            type: "DELETE",
                            url: "/Okullar/OkulFotoSil/" + fotoId,
                            success: function () {
                                location.reload();
                                alertify.success('Kayıt silindi');
                            }
                        });
                    }
                }
            });

        });

        $("#okulBolumEkle").click(function () {

            $('#saveModal').modal();

        });

        /*$('#saveModal').modal({ backdrop: 'static', keyboard: false });*/

        $("#btnBolumKaydet").click(function () {

            var okulbinabolum = {
                BolumAdi: $('#selectOkulBinaBolum :selected').text(),
                BolumAdedi: $('#okulBinaBolumAded').val(),
                OkulId: $("#okulIdInput").val()
            }

            $.ajax({

                type: 'POST',
                url: '/Okullar/OkulBolumEkleJson',
                data: okulbinabolum,

                success: function (response) {

                    if (response === "200") {

                        $('#saveModal').modal('hide');
                        location.reload();
                        alertify.success('Kayıt başarıyla eklendi');
                    }
                    else {

                        $('#saveModal').modal('hide');
                        location.reload();
                        alertify.warning('Kayıt eklenemedi !');
                    }
                },
                error: function () {

                    $('#saveModal').modal('hide');
                    location.reload();
                    alertify.warning('Kayıt eklenemedi !');
                }

            });



        });

        $("#OkulGuncelle").click(function () {

            var okullogoadi = document.getElementById("okulLogoInput").value;

            if (okullogoadi == "") {

                document.getElementById("okulLogoInput").disabled = true;
            }

            var deger = document.getElementById("SehirIdInput").value;

            if (deger == null || deger == "") {
                this.type = "text";
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'Kayıt işlemi yapılamadı !',
                    showConfirmButton: false,
                    timer: 2500
                })
            }
            else {
                this.type = "submit";
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Kayıt işlemi başarılı',
                    showConfirmButton: false,
                    timer: 2500
                })
            }



        });

        $("#okulBolumTable").on("click", ".btnSil", function () {

            var btn = $(this);
            bootbox.confirm({
                message: "Silmek istediğinize emin misiniz?",
                buttons: {
                    confirm: {
                        label: 'Evet',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Hayır',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        var id = btn.data("id");
                        $.ajax({
                            type: "DELETE",
                            url: "/Okullar/OkulBinaBolumSil/" + id,
                            success: function () {
                                btn.parent().parent().remove();
                                location.reload();
                                alertify.success('Kayıt silindi');
                            }
                        });
                    }
                }
            });

        });

        function OkulLogoImagesFileSize(input) {

            var maxFileSize = 1194304;
            var fileUpload = document.getElementById("okulLogoInput");
            var fileCount = fileUpload.files.length;

            for (var i = 0; i < fileCount; i++) {

                if (input.files[i].size > maxFileSize) {

                    $(':input[type="submit"]').prop('disabled', true);
                    Swal.fire({
                        icon: 'error',
                        title: 'Hata',
                        text: 'Yüklemek istediğiniz dosya boyutu 1 MB dan fazla !',
                    })
                    document.getElementById("okulLogoInput").className = "";
                    document.getElementById("okulLogoInput").className += "btn btn-outline-danger mb-1 btn-sm col-md-12";
                    document.getElementById("okulLogoInput").value = null;
                    return false;
                }
                else {

                    $(':input[type="submit"]').prop('disabled', false);
                    document.getElementById("okulLogoInput").className = "";
                    document.getElementById("okulLogoInput").className += "btn btn-outline-success mb-1 btn-sm col-md-12";
                    document.getElementById('okulLogoImages').src = window.URL.createObjectURL(document.getElementById("okulLogoInput").files[i]);
                }
            }
        }

        function ImagesFileSize(input) {

            var maxFileSize = 1194304;
            var fileUpload = document.getElementById("OkulImagesInput");
            var fileCount = fileUpload.files.length;

            for (var i = 0; i < fileCount; i++) {

                if (input.files[i].size > maxFileSize) {

                    $(':input[type="submit"]').prop('disabled', true);
                    Swal.fire({
                        icon: 'error',
                        title: 'Hata',
                        text: 'Yüklemek istediğiniz dosyalarda boyutu 1 MB dan fazla dosya var!',
                    })
                    document.getElementById("OkulImagesInput").className = "";
                    document.getElementById("OkulImagesInput").className += "btn btn-outline-danger mb-1 btn-sm col-md-12";
                    document.getElementById("OkulImagesInput").value = null;
                    return false;
                }
                else {

                    $(':input[type="submit"]').prop('disabled', false);
                    document.getElementById("OkulImagesInput").className = "";
                    document.getElementById("OkulImagesInput").className += "btn btn-outline-success mb-1 btn-sm col-md-12";
                    const collection = document.getElementById("okulImages");
                    collection[0].src = window.URL.createObjectURL(document.getElementById("OkulImagesInput").files[i]);
                }
            }
        }

    </script>

    <!-- #endregion -->
}