@model YOGBIS.Common.VModels.OkullarVM
@{
    ViewData["Title"] = "Şube-Sınıf-Öğrenci";
    //ViewData["OkulId"] = Model.OkulId;
}

@section Styles{

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
}

@if (Model != null)
{
    <div class="row mt-0">
        <input hidden type="text" value="@Model.UlkeId" id="inputUlkeId" />
        <input hidden type="text" value="@Model.EyaletId" id="inputEyaletId" />
        <input hidden type="text" value="@Model.SehirId" id="inputSehirId" />
        <input hidden type="text" value="@Model.OkulId" id="inputOkulId" />
        <input hidden type="text" value="" id="inputSinifId" />
        <input hidden type="text" value="" id="inputSinifAdi" />
        <input hidden type="text" value="" id="inputSubeId" />
        <div class="col-md-12">
            <!--Okul Ad Bilgi-->
            <div class="row">
                <div class="col-md-12">
                    <a asp-controller="Okullar" asp-action="OkulDetayGuncelle" asp-route-id="@Model.OkulId" asp-route-ulkeId="@Model.UlkeId"><h4 class="text-center text-info">@Model.OkulAdi</h4></a>
                </div>
            </div>
            <!--Sınıflar-->
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow-lg rounded-lg mt-0 h-100">
                                <div class="card-header">
                                    <i class="fas fa-pen mr-1"></i>
                                    <b>Sınıf Ekleme/Güncelleme</b>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-1">
                                        <div class="col-md-4">
                                            <label class="small mb-1 font-weight-bold">Sınıf Adı</label>
                                            <input type="text" class="form-control py-2 mb-1" id="sinifAdiInput" placeholder="Sınıf adını yazınız">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="small mb-1 font-weight-bold">Sınıf Grubu</label>
                                                <select class="form-control-range form-control py-2" id="sinifGrupSelect" aria-label="Default select example">
                                                    <option selected class="text-left">Sınıf Grbunu seçiniz</option>
                                                    <option value="1">Sabah Grubu</option>
                                                    <option value="2">Öğlen Grubu</option>
                                                </select>
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="small mb-1 font-weight-bold">Sınıf Açılış Tarihi</label>
                                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                                <input id="inputSinifAcTar" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-sm text-white mb-1" style="width:100px" id="yeniSinifBtn">Yeni Kayıt</button>
                                            <button class="btn btn-success btn-sm text-white mb-1" style="width:100px" id="sinifEkleBtn">Kaydet</button>
                                            <button class="btn btn-info btn-sm text-white mb-1" style="width:100px" id="sinifDegistirBtn">Değiştir</button>
                                            <a class="btn btn-danger btn-sm text-white mb-1" style="width:100px" asp-controller="Okullar" asp-action="OkulDetayGuncelle"
                                               asp-route-id="@Model.OkulId" asp-route-ulkeId="@Model.UlkeId">Geri Dön</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-lg rounded-lg mt-0 h-100">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            <b>Sınıflar</b>
                        </div>
                        <div class="card-body">
                            @await Component.InvokeAsync("OkulSinifListesi", Model.OkulId)
                        </div>
                    </div>
                </div>
            </div>
            <!--Şubeler-->
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow-lg rounded-lg mt-0 h-100">
                                <div class="card-header">
                                    <i class="fas fa-pen mr-1"></i>
                                    <b>Şube Ekleme/Güncelleme</b>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-1">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="small mb-1 font-weight-bold">Sınıf Seçimi</label>
                                                @Html.DropDownListFor(u => u.Siniflar, new SelectList(ViewBag.SinifAdi, "SinifId", "SinifAdi"),
                                               "Sınıfı seçiniz", new { @id = "SinifListesi", @class = "form-control-range form-control py-2" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="small mb-1 font-weight-bold">Şube Adı</label>
                                            <input type="text" class="form-control py-2 mb-1" id="inputSubeAdi" placeholder="Şube adını yazınız">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="small mb-1 font-weight-bold">Şube Açılış Tarihi</label>
                                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                                <input id="inputSubeAcTar" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="small mb-1 font-weight-bold">Şube Durumu</label>
                                                <select class="form-control-range form-control py-2" id="subeDurumSelect" aria-label="Default select example">
                                                    <option value="true">Açık</option>
                                                    <option value="false">Kapalı</option>
                                                </select>
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label class="small mb-1 font-weight-bold">Şube Öğretmeni</label>
                                                <select class="form-control-range form-control py-2" aria-label="Default select example">
                                                    <option selected class="text-left">Öğretmen seçiniz</option>
                                                    <option value="1">Öğretmen Adı Soyadı</option>
                                                </select>
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-sm text-white mb-1" style="width:100px" id="yeniSubeBtn">Yeni Kayıt</button>
                                            <button class="btn btn-success btn-sm text-white mb-1" style="width:100px" id="subeEkleBtn">Kaydet</button>
                                            <button class="btn btn-info btn-sm text-white mb-1" style="width:100px" id="subeDegistirBtn">Değiştir</button>
                                            <button class="btn btn-secondary btn-sm text-white mb-1" style="width:200px" id="ogrenciEkleBtn">Öğrenci Kayıt İşlemleri</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-lg rounded-lg mt-0 h-100">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            <b>Şubeler</b>
                        </div>
                        <div class="card-body">
                            @await Component.InvokeAsync("OkulSubeListesi", Model.OkulId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row justify-content-center">
        <h4 class="text-danger">Okula ait detay görüntülenemiyor !</h4>
    </div>
    <div class="row justify-content-center">
        <a asp-controller="Okullar" asp-action="Index" id="cancel" name="cancel" class="btn btn-danger btn-sm text-white mb-1" style="width:100px">Geri Dön</a>
    </div>
}



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-10-year-range.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <script type="text/javascript">

        document.body.onload = function () {
            document.getElementById("subeDegistirBtn").disabled = true;
            document.getElementById("sinifDegistirBtn").disabled = true;
            document.getElementById("ogrenciEkleBtn").disabled = true;
            document.getElementById("yeniSinifBtn").disabled = true;
            document.getElementById("yeniSubeBtn").disabled = true;
            document.getElementById("subeEkleBtn").disabled = true;
            document.getElementById("inputSubeAdi").style.pointerEvents = "none";
            document.getElementById("sinifAdiInput").focus();

        };

        $('#datetimepicker1, #datetimepicker2').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        $("#sinifEkleBtn").click(function () {

            if ($("#sinifAdiInput").val() == "" && $("#sinifGrupSelect").text() == "Sınıf Grbunu seçiniz") {

                bootbox.alert({
                    message: "Sınıf Adı, Grubu ve Açılış Tarihi boş bırakılmamalıdır !",
                    buttons: {
                        ok: {
                            label: "Tamam",
                            className : "btn-danger"
                        }
                    }
                });

                document.getElementById("sinifAdiInput").focus();
            }
            else {

                var sinif = {
                    SinifAdi: $("#sinifAdiInput").val().trim(),
                    SinifGrubu: $("#sinifGrupSelect option:selected").text().trim(),
                    SinifAcilisTarihi: $("#inputSinifAcTar").val().trim(),
                    OkulId: $("#inputOkulId").val().trim()
                }

                $.ajax({

                    type: 'POST',
                    url: '/Okullar/SinifEkleJson',
                    data: sinif,

                    success: function (response) {

                        if (response === "200") {

                            alertify.success('Kayıt başarıyla eklendi');
                            location.reload();
                        }
                        else {

                            alertify.danger('Kayıt eklenemedi !');
                        }
                    },
                    error: function () {

                        alertify.danger('Kayıt eklenemedi !');
                    }

                });
            }

        });

        $(".btnSinifDegistir").click(function () {

            var sinifid = $(this).data("id");
            var url = '@Url.Action("OkulSinifGetir", "Okullar")?SinifId=' + sinifid;
            $("#inputSinifId").val(sinifid);

            $.getJSON(url, function (data) {

                    if (data.length != 0) {

                        $.each(data, function (i = 0, sinifId, sinifAdi, sinifGrubu, sinifAcilisTarihi) {

                            if (i == 0) {

                                $("#sinifAdiInput").val(data[i]['sinifAdi']);
                                $("#sinifGrupSelect").empty();
                                $("#sinifGrupSelect").append("<option value='1'> " + data[i]['sinifGrubu'] + "</option>");
                                if (data[i]['sinifGrubu'] == "Sabah Grubu") {
                                    $("#sinifGrupSelect").append("<option value='2'> Öğlen Grubu </option>");
                                }
                                else {
                                    $("#sinifGrupSelect").append("<option value='1'> Sabah Grubu </option>");
                                }
                                /*$("#sinifGrupSelect option:selected").text(data[i]['sinifGrubu']);*/
                                var date = new Date(data[i]['sinifAcilisTarihi']);
                                $("#inputSinifAcTar").val(date.toLocaleString().toString("dd/MM/yyyy"));
                            }
                        });

                        document.getElementById("yeniSinifBtn").disabled = false;
                        document.getElementById("sinifEkleBtn").disabled = true;
                        document.getElementById("sinifDegistirBtn").disabled = false;
                        document.getElementById("sinifDegistirBtn").className = "";
                        document.getElementById("sinifDegistirBtn").className = "btn btn-info btn-sm text-white mb-1";
                    }
                    else {

                        alertify.danger('Bu sınıf kayıtlı değil !');

                    }
                });

        });

        $("#sinifDegistirBtn").click(function () {

            if ($("#sinifAdiInput").val() == "" && $("#sinifGrupSelect option:selected").text() == "Sınıf Grbunu seçiniz") {

                bootbox.alert({
                    message: "Sınıf Adı, Grubu ve Açılış Tarihi boş bırakılmamalıdır !",
                    buttons: {
                        ok: {
                            label: "Tamam",
                            className: "btn-danger"
                        }
                    }
                });

                document.getElementById("sinifAdiInput").focus();
            }
            else {

                var sinif = {

                    SinifId: $("#inputSinifId").val(),
                    SinifAdi: $("#sinifAdiInput").val().trim(),
                    SinifGrubu: $("#sinifGrupSelect option:selected").text().trim(),
                    SinifAcilisTarihi: $("#inputSinifAcTar").val().trim(),
                    OkulId: $("#inputOkulId").val().trim()
                }

                $.ajax({

                    type: 'POST',
                    url: '/Okullar/SinifGuncelleJson',
                    data: sinif,

                    success: function (response) {

                        if (response === "200") {

                            alertify.success('Kayıt başarıyla güncellendi');
                            location.reload();
                        }
                        else {

                            alertify.danger('Kayıt güncellenemedi !');
                        }
                    },
                    error: function () {

                        alertify.danger('Kayıt güncellenemedi !');
                    }

                });
            }

        });

        $(".btnSinifSil").click(function () {

             var sinifid = $(this).data("id");

             if (sinifid != null) {

                 bootbox.confirm({
                     message: "Eğer bu Sınıfı silerseniz, bağlı olan Şube ve Öğrencilerde silinecektir. Yine de Silmek istediğinize emin misiniz?",
                     buttons: {
                         confirm: {
                             label: 'Evet',
                             className: 'btn-success'
                         },
                         cancel: {
                             label: 'Hayır',
                             className: 'btn-danger'
                         }
                     },
                     callback: function (result) {
                         if (result) {

                             $.ajax({
                                 type: "DELETE",
                                 url: "/Okullar/OkulSinifSil/" + sinifid,
                                 success: function () {

                                     location.reload();
                                 }
                             });
                         }
                     }
                 });
            }
             else {
                 alert("Sınıf bulunamadı !");
             }

        });

        $("#yeniSinifBtn").click(function () {

            document.getElementById("sinifAdiInput").focus();
            document.getElementById("sinifAdiInput").value = "";
            document.getElementById("sinifGrupSelect").focus();
            $("#sinifGrupSelect").empty();
            $("#sinifGrupSelect").append("<option value=''> Sınıf Grubunu seçiniz </option>");
            $("#sinifGrupSelect").append("<option value='1'> Sabah Grubu </option>");
            $("#sinifGrupSelect").append("<option value='2'> Öğlen Grubu </option>");
            document.getElementById("inputSinifAcTar").focus();
            document.getElementById("inputSinifAcTar").value = "";
            document.getElementById("sinifEkleBtn").disabled = false;
            document.getElementById("sinifEkleBtn").className = "";
            document.getElementById("sinifEkleBtn").className = "btn btn-success btn-sm text-white mb-1";
            document.getElementById("sinifDegistirBtn").disabled = true;
            document.getElementById("sinifAdiInput").focus();
        });

        ///////////////////////////

        $("#SinifListesi").on("change", function () {

            document.getElementById("inputSubeAdi").style.pointerEvents = "all";

            var sinifId = $("#SinifListesi").val();
            var sinifad = $("#SinifListesi option:selected").text();
            $("#inputSinifId").val(sinifId);
            $("#inputSinifAdi").val(sinifad);
            document.getElementById("subeEkleBtn").disabled = false;
        });

        //////////////////////////

        $("#subeEkleBtn").click(function () {

            if ($("#inputSubeAdi").val() == "") {

                bootbox.alert({
                    message: "Şube Adını ve Açılış Tarihini yazmalısınız !",
                    buttons: {
                        ok: {
                            label: "Tamam",
                            className: "btn-danger"
                        }
                    }
                });

                document.getElementById("inputSubeAdi").focus();
            }
            else {

                var sube = {
                    SubeAdi: $("#inputSubeAdi").val().trim(),
                    SubeAcilisTarihi: $("#inputSubeAcTar").val().trim(),
                    SubeDurumu: $("#subeDurumSelect").val(),
                    OkulId: $("#inputOkulId").val().trim(),
                    SinifId: $("#inputSinifId").val().trim(),
                    SinifAdi: $("#inputSinifAdi").val().trim()
                }

                $.ajax({

                    type: 'POST',
                    url: '/Okullar/SubeEkleJson',
                    data: sube,

                    success: function (response) {

                        if (response === "200") {

                            alertify.success('Kayıt başarıyla eklendi');
                            location.reload();
                        }
                        else {

                            alertify.danger('Kayıt eklenemedi !');
                        }
                    },
                    error: function () {

                        alertify.danger('Kayıt eklenemedi !');
                    }

                });
            }

        });

        $(".btnSubeDegistir").click(function () {

            var sinifid = $(this).data("id");

            @*var urlsinif = '@Url.Action("OkulSiniflariGetir", "Okullar")?SinifId=' + sinifid;

            $.getJSON(urlsinif, function (data) {

                    /*$("#SinifListesi").empty();*/

                    $.each(data, function (i = 0, sinifId, sinifAdi, sinifGrubu, sinifAcilisTarihi) {


                        /*$("#SinifListesi").append("<option value='" + data[i]['sinifId'] + "'> " + data[i]['sinifAdi'] + "</option>");*/

                        $("#SinifListesi option:selected").text(data[i]['sinifAdi']);

                        $('#SinifListesi').append($('<option>', {
                            value: data[i]['sinifId'],
                            text: data[i]['sinifAdi']
                        }));
                    });

            });*@

            var urlsube = '@Url.Action("OkulSubeleriGetir", "Okullar")?SinifId=' + sinifid;

            $.getJSON(urlsube, function (data) {

                    if (data.length != 0) {

                        $.each(data, function (i = 0, subeId, subeAdi, subeAcilisTarihi, subeDurumu, okulId, sinifId, sinifAdi) {

                            if (i == 0) {

                                $("#inputSubeId").val(data[i]['subeId']);
                                $("#inputSubeAdi").val(data[i]['subeAdi']);
                                var date = new Date(data[i]['subeAcilisTarihi']);
                                $("#inputSubeAcTar").val(date.toLocaleString().toString("dd/MM/yyyy"));

                                if (data[i]['subeDurumu'] == true) {

                                    $("#subeDurumSelect option:selected").text("Açık");
                                    $('#subeDurumSelect').empty();
                                    $('#subeDurumSelect').append($('<option>', {
                                        value: true,
                                        text: "Açık"
                                    }));
                                    $('#subeDurumSelect').append($('<option>', {
                                        value: false,
                                        text: "Kapalı"
                                    }));
                                }
                                else {
                                    $("#subeDurumSelect option:selected").text("Kapalı");
                                    $('#subeDurumSelect').empty();
                                    $('#subeDurumSelect').append($('<option>', {
                                        value: true,
                                        text: "Açık"
                                    }));
                                    $('#subeDurumSelect').append($('<option>', {
                                        value: false,
                                        text: "Kapalı"
                                    }));
                                }

                                $("#inputOkulId").val(data[i]['okulId']);
                                $("#inputSinifId").val(data[i]['sinifId']);
                                $("#inputSinifAdi").val(data[i]['sinifAdi']);
                                document.getElementById("yeniSubeBtn").disabled = false;
                            }

                        });

                        document.getElementById("subeEkleBtn").disabled = true;
                        document.getElementById("subeDegistirBtn").disabled = false;
                        document.getElementById("ogrenciEkleBtn").disabled = false;
                        document.getElementById("subeDegistirBtn").className = "";
                        document.getElementById("inputSubeAdi").style.pointerEvents = "all";
                        document.getElementById("subeDegistirBtn").className = "btn btn-info btn-sm text-white mb-1";
                    }
                    else {

                        alertify.danger('Bu sşube kayıtlı değil !');

                    }
                });

        });

        $("#subeDegistirBtn").click(function () {

            if ($("#subeAdiInput").val() == "") {

                bootbox.alert({
                    message: "Şube Adını ve Açılış Tarihini yazmalısınız !",
                    buttons: {
                        ok: {
                            label: "Tamam",
                            className: "btn-danger"
                        }
                    }
                });

                document.getElementById("subeAdiInput").focus();
            }
            else {

                var sube = {
                    SubeId: $("#inputSubeId").val().trim(),
                    SubeAdi: $("#inputSubeAdi").val().trim(),
                    SubeAcilisTarihi: $("#inputSubeAcTar").val().trim(),
                    SubeDurumu: $("#subeDurumSelect").val(),
                    OkulId: $("#inputOkulId").val().trim(),
                    SinifId: $("#inputSinifId").val().trim(),
                    SinifAdi: $("#inputSinifAdi").val().trim()
                }

                $.ajax({

                    type: 'POST',
                    url: '/Okullar/SubeGuncelleJson',
                    data: sube,

                    success: function (response) {

                        if (response === "200") {

                            alertify.success('Kayıt başarıyla güncellendi');
                            location.reload();
                        }
                        else {

                            alertify.danger('Kayıt güncellenemedi !');
                        }
                    },
                    error: function () {

                        alertify.danger('Kayıt güncellenemedi !');
                    }

                });
            }

        });

        $(".btnSubeSil").click(function () {

            var subeid = $(this).data("id");

            if (subeid != null) {

                bootbox.confirm({
                    message: "Eğer bu Şubeyi silerseniz, bu Şubeye kayıtlı Öğrencilerde silinecektir. Yine de Silmek istediğinize emin misiniz?",
                    buttons: {
                        confirm: {
                            label: 'Evet',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Hayır',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {

                            $.ajax({
                                type: "DELETE",
                                url: "/Okullar/OkulSubeSil/" + subeid,
                                success: function () {

                                    location.reload();
                                }
                            });
                        }
                    }
                });
            }
            else {
                alert("Şube bulunamıyor !");
            }

        });

        $("#yeniSubeBtn").click(function () {

            document.getElementById("subeAdiInput").focus();
            document.getElementById("subeAdiInput").value = "";
            document.getElementById("inputSubeAcTar").focus();
            document.getElementById("inputSubeAcTar").value = "";
            document.getElementById("subeEkleBtn").className = "";
            document.getElementById("subeEkleBtn").className = "btn btn-success btn-sm text-white mb-1";
            document.getElementById("subeDegistirBtn").disabled = true;
            document.getElementById("ogrenciEkleBtn").disabled = true;
            document.getElementById("subeAdiInput").focus();
        });

        //////////////////////////

        $("#ogrenciEkleBtn").click(function () {

            var subeAdi = $("#inputSubeAdi").val();
            var subeId = $("#inputSubeId").val();
            var sinifAdi = $("#inputSinifAdi").val();
            var sinifId = $("#inputSinifId").val();
            var okulId = $("#inputOkulId").val();
            var eyaletId = $("#inputEyaletId").val();
            var sehirId = $("#inputSehirId").val();
            var ulkeId = $("#inputUlkeId").val();

            //alert("sinif id=" + sinifId + " sinif adı =" + sinifAdi);
            //alert("şube id =" + subeId + " şube adı =" + subeAdi);
            //alert("okul id=" + okulId);
            //alert("şehir id =" + sehirId);
            //alert("eyalet id =" + eyaletId);
            //alert("ulke id =" + ulkeId);

            location.href = '@Url.Action("OgrenciEkle", "Ogrenciler")?ulkeId=' + ulkeId + '&eyaletId=' + eyaletId + '&sehirId=' + sehirId + '&okulId=' + okulId + '&sinifId=' + sinifId + '&subeId=' + subeId;

        });

    </script>
}